<div class="container bg-box">
  <div class="row">
    <div class="col main-box design-column">
      <div class="row">
        <div class="col"><h2>Distintivos de liga</h2></div>
      </div>
      <div class="container creatures-box">
        <div class="img-creature" *ngFor="let imageUrl of distintivosImg">
          <div class="row">
            <div class="col"><img srcset="{{imageUrl}}" alt="Imagen" /></div>
            <div class="col">
              <button
                type="button"
                class="btn btn-success"
                (click)="selectedBadgeName = imageUrl"
                data-bs-toggle="modal"
                data-bs-target="#eraseModal"
              >
                Asignar a
              </button>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="col form-group main-box">
      <h2>Añadir un distintivo nuevo</h2>
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit($event)"
        (change)="onFileSelected($event)"
      >
        <div class="row">
          <div class="col">
            <label for="imagen" class="form-label"
              ><strong>Distintivo :</strong></label
            >
          </div>
          <div class="col">
            <input
              type="file"
              id="imagen"
              name="imagen"
              required
              formControlName="imagen"
            />
          </div>
        </div>
        <hr />
        <div class="container mt-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="eraseModal"
  tabindex="-1"
  aria-labelledby="erase"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="erase">Selecciona un entrenador:</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <select [(ngModel)]="selectedTrainerName" class="form-control">
          <option *ngFor="let trainer of trainerList" [value]="trainer.name">
            {{ trainer.name }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="assignBadges()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
