ul {
  list-style-type: none;
}

.main-box {
  margin-top: 10%;
}

.row-creatures {
  width: 600px;
}

.img-creature {
  width: 350px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 2%;
}

.img-creature img {
  max-width: 100%;
  max-height: 100%;
  display: block;

}

.btn-asign {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.btn-asign button {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.creatures-box {
  max-height: 400px;
  overflow-y: auto;
}

.see-btn {
  height: 30px;
  width: 30px;
  border-radius: 48%;
  background-color: antiquewhite;
}

.see-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-btn i.material-icons {
  font-size: 20px;
  /* Tamaño más pequeño del ícono */
}

.design-column {
  border-right: 1px solid black;
}


.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

h1, h2, h3, p {
  color: #000000;
}
