<div class="contanier-fluid bg-box">
  <div class="row">
    <div class="col design-column">
      <div class="row container">
        <div class="col mt-3"><h2>Lista de Grumpis</h2></div>
        <div class="col mt-3">
          <button type="submit" class="btn btn-success" (click)="loadGrumpis()">
            Cargar Grumpis
          </button>
        </div>
      </div>

      <div class="container creatures-box">
        <div class="search-bar mb-3 sticky-top">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Introduce el número de la carta"
            class="form-control"
          />
        </div>

        <div
          class="img-creature"
          *ngFor="let creature of filteredCreaturesImages"
        >
          <div class="row">
            <div class="col">
              <img srcset="{{creature.img}}" alt="Imagen" />
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-success"
                (click)="selectedCreatureName = creature; openTrainers()"
              >
                Asignar a
              </button>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <div class="col form-group mt-3 container mb-3" *ngIf="isAdminUser">
      <h2>Añadir un Grumpi nuevo</h2>
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit($event)"
        (change)="onFileSelected($event)"
      >
        <div class="row">
          <div class="col">
            <label for="imagen" class="form-label"
              ><strong>Selecciona la imagen del Grumpi:</strong></label
            >
          </div>
          <div class="col">
            <input
              type="file"
              id="imagen"
              name="imagen"
              required
              formControlName="imagen"
            />
          </div>
        </div>
        <hr />

        <h2>Datos del Grumpi</h2>
        <div class="contanier-fluid me-3">
          <ul>
            <li>
              <div class="row">
                <div class="col-1"><i class="material-icons">&#xe5c8;</i></div>
                <div class="col-4"><label> Nombre: </label></div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Nombre del Grumpi"
                    aria-describedby="inputGroup-sizing-sm"
                  />
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="row">
                <div class="col-1"><i class="material-icons">&#xe5c8;</i></div>
                <div class="col-4">
                  <label> Número de la Grumpidex: </label>
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Nombre del Grumpi"
                    aria-describedby="inputGroup-sizing-sm"
                  />
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="row">
                <div class="col-1"><i class="material-icons">&#xe5c8;</i></div>
                <div class="col-4"><label> Tipo: </label></div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Nombre del Grumpi"
                    aria-describedby="inputGroup-sizing-sm"
                  />
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="row">
                <div class="col-1"><i class="material-icons">&#xe5c8;</i></div>
                <div class="col-4"><label> Descripción: </label></div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Nombre del Grumpi"
                    aria-describedby="inputGroup-sizing-sm"
                  />
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="row">
                <div class="col-1"><i class="material-icons">&#xe5c8;</i></div>
                <div class="col-4"><label> Ataque principal: </label> <button type="button" class="btn">❓​</button></div>
                <div class="col">
                  <select class="form-select" id="atqPrincipal">
                    <option selected>Selecciona un ataque</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="row">
                <div class="col-1"><i class="material-icons">&#xe5c8;</i></div>
                <div class="col-4"><label> Ataque especial: ​</label> <button type="button" class="btn">❓​</button></div>
                <div class="col">
                  <select class="form-select" id="atqEspecial">
                    <option selected>Selecciona un ataque</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </li>
            <br />
          </ul>
        </div>

        <div class="container mt-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
