.bg {
  background-color: burlywood;
  width: 100%;
  height: 100%;
}

.txt {
  color: red;
}
.btn-config{
  margin-top: 15%;
}

.avatar {
  height: 100px;
  width: 100px;
  display: flex;
  margin-left: 40%;
}
