<div class="container bg-box">
  <div class="container">
    <div class="row">
      <div class="col main-box design-column">
        <div class="row">
          <div class="col"><h2>Lista de energías</h2></div>
        </div>

        <div class="container creatures-box">
          <div
            class="img-creature"
            *ngFor="let imageUrl of energy_list"
          >
            <div class="row">
              <div class="col"><img srcset="{{imageUrl.imagen}}" alt="Imagen" /></div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="selectedEnergie = imageUrl; openTrainers()"
                >
                  Asignar a
                </button>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col form-group main-box">
        <h2>Añadir una energía nueva</h2>
        <form
          [formGroup]="myForm"
          (ngSubmit)="onSubmit($event)"
          (change)="onFileSelected($event)"
        >
          <div class="row">
            <div class="col">
              <label for="imagen" class="form-label"
                ><strong>Energía:</strong></label
              >
            </div>
            <div class="col">
              <input
                type="file"
                id="imagen"
                name="imagen"
                required
                formControlName="imagen"
              />
            </div>
          </div>
          <hr />

          <div class="container mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


