<footer class="footer-content">
  <div class="container">
    <div class="row g-0 justify-content-end">
      <div class="col-auto mb-2 me-2"><img class="img-style" src="../../../assets/Logo_v0.1_sinFondo.png"></div>
      <div class="col-auto mb-2 d-flex align-items-center"><p>&copy; 2024 Grumpi-App. Todos los derechos reservados. </p></div>
      <div class="col-auto mb-2 d-flex align-items-center"><span class="text-muted"> Creado por Daniel G.D. & Pablo M.O.</span></div>
      <div class="col-auto mb-2 d-flex align-items-center"><img class="logoPanda" src="../../../assets/LogoEscuelaDeVerano2016-2.png"></div>
    </div>
  </div>
</footer>

