<footer class="footer-content">
  <div class="container">
    <div class="row g-0 justify-content-end">
      <div class="col-auto mb-2"><img class="img-style" src="../../../assets/Logo_v0.1_sinFondo.png"></div>

      <div class="col-auto mb-2"><p>&copy; 2024 Grumpi-App. Todos los derechos reservados. </p></div>
      <div class="col-auto mb-2"><span class="text-muted"> Creado por Pan`n`Da</span></div>
      <div class="col-auto mb-2"><img class="logoPanda" src="../../../assets/LogoEscuelaDeVerano2016-2.png"></div>
    </div>
  </div>
</footer>

