.bg {
  background-image: url(../../../assets/geometric.jpeg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100%;
  height: 550px;
}

.txt {
  color: rgb(3, 3, 3);
}

.btn-config {
  margin-top: 15%;
}

.avatar {
  height: 100px;
  width: 100px;
  display: flex;
  margin-left: 40%;
}


#borderText {
  border-radius: 3em;
  border: 2px solid #2d812d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footerBtn {
  bottom: 0;
}

.sizeImg {
  width: 240px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #2d812d;
  border-radius: 3em;
  margin-bottom: 2%;
}

.hidden {
  display: none;
}
