.main-container {
  /* border-right: 3px solid black; */
  margin-bottom: 3%;
}

/* Estilos para el componente principal */
.mat-sidenav-content {
  padding: 20px;
  transition: margin 0.3s ease;
  overflow: auto;
}

.mat-sidenav-content.fullscreen {
  margin-left: 0;
}

.sidenav-container {
  height: calc(100vh - 60px);
  background-color: burlywood;
}

.scrollable-div, .bigBox {
  overflow-y: auto;
  max-height: calc(100vh - 320px);
}

.btns {
  height: 80px;
  width: 300px;
  font-size: medium;
  margin-bottom: 5%;
}

.prof_box {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  width: 80%;
  border: 2px solid #ccc; /* Borde del div */
  border-radius: 15px; /* Radio de las esquinas */
  padding: 20px; /* Relleno interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}

/* Configuración del botón para salir de la sesión */
.btn-out {
  border-radius: 40em;
  appearance: none;
  background-color: #fa4747;
  box-shadow: #743838 0 -12px 6px inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  /*padding: 1rem 1.3rem;*/
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  height: 60px;
  width: 150px;
}

.btn-out:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn-out:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn-out {
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
    padding: .75rem 2rem;
  }
}

a {
  cursor: pointer;
}

.nav-link, h1, h2, h3, p, .box-text, p, span, strong {
  color: black; /* Color de la tipografía del texto en general */
}

.btn-out {
  color: white; /* Color de la tipografía del botón de salir */
  border-color: black; /* Bordes negros para el botón de salir */
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

.box {
  background-image: url("../../../assets/backgrounds/kids.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#panda {
  width: 100px;
  height: 50px;
}

/* Estilos para el sidebar */
.sidenav {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: #9f9e9e 0 -6px 8px inset;
  border-radius: 15px;
}

.sidenav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.footer-time {
  font-size: 0.9rem;
  color: #333;
}

/* Ocultar el botón de menú en pantallas grandes */
.btn-menu {
  display: none;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .sidenav {
    position: absolute;
    left: 0;
    width: 62%;
    height: auto;
    transform: translate(-100%);
    transition: transform .3s ease;
    z-index: 1000;
  }

  .sidenav.collapsed {
    transform: translateX(0);
  }

  .container-fluid.main-content {
    margin-left: -27;
    width: 103%;
  }

  /* Mostrar el botón de menú en pantallas pequeñas */
  .btn-menu {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40em;
    box-shadow: #198754 0 9px 25px inset;
  }

  /* Ajustes para el contenido principal en móviles */
  .scrollable-div, .bigBox {
    max-height: calc(100vh - 200px);
    padding: 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding: 0 15px;
}

/* Para pantallas pequeñas, habilitamos el scroll en el menú lateral */
@media (max-width: 768px) {
  .sidenav.open {
    overflow-y: auto;
    height: 100vh;
  }

  /* Ajustamos el contenido principal para que también tenga scroll */
  .container-fluid {
    overflow-y: auto;
    max-height: calc(100vh - 180px);
  }

  .scrollable-div, .bigBox {
    overflow-y: auto;
    max-height: calc(100vh - 160px);
  }

  /* Ajustar el layout para pantallas pequeñas */
  .container-fluid.d-flex {
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
  }
}
