<app-nav-bar-admin></app-nav-bar-admin>

<div class="notification-container">
  <button
    type="button"
    class="btn-notification"
    (click)="toggleNotifications()"
  >
    🔔
    <span *ngIf="notificationCount > 0" class="notification-count">{{
      notificationCount
    }}</span>
  </button>
</div>

<div *ngIf="showNotifications" class="notification-dropdown">
  <div class="notification-header">
    <h4>Notificaciones</h4>
    <button
      type="button"
      class="btn-close"
      (click)="toggleNotifications()"
      aria-label="Cerrar"
    >
      x
    </button>
  </div>
  <ul>
    <li *ngFor="let notification of notifications">
      <span *ngIf="!notification.read" class="unread-indicator"></span>
      {{ notification.message }}
      <button
        type="button"
        class="btn btn-read"
        *ngIf="!notification.read"
        (click)="markNotificationAsRead(notification.id)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#08090a"
        >
          <path
            d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
          />
        </svg>
      </button>
    </li>
  </ul>
  <button
    type="button"
    class="btn btn-outline-light"
    (click)="clearNotifications()"
  >
    Limpiar Notificaciones
  </button>
</div>

<button
  type="button"
  class="btn-menu d-md-none"
  *ngIf="isSidebarCollapsed"
  (click)="toggleSidebar()"
>
  ☰ Menú
</button>
<button
  type="button"
  class="btn-menu d-md-none"
  *ngIf="!isSidebarCollapsed"
  (click)="toggleSidebar()"
>
  X
</button>

<!-- Main Content Container -->
<div class="container-fluid d-flex">
  <!-- Sidebar -->
  <div
    class="bg-light border-end sidenav mt-2"
    [class.collapsed]="!isSidebarCollapsed"
  >
    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('profile')">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('trainers')"
          >Lista de entrenadores</a
        >
      </li>
      <li class="nav-item" *ngIf="isAdminUser">
        <a class="nav-link" (click)="showSection('profesorado')"
          >Lista de profesores</a
        >
      </li>
      <hr />
      <h3 class="d-flex justify-content-center">
        <strong>Administración del entrenador</strong>
      </h3>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('dashboard')">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('creatures')">Grumpis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('medals')">Medallas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('distintivos')"
          >Distintivos de liga</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('energies')">Energía</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" (click)="showSection('dolars')">Grumpidólares</a>
      </li>-->
      <hr />
      <h3 class="d-flex justify-content-center">
        <strong>Administración del blog</strong>
      </h3>
      <li class="nav-item">
        <a class="nav-link" (click)="showSection('blog')">Blog</a>
      </li>
      <hr />
      <h3 class="d-flex justify-content-center"><strong>Ayuda</strong></h3>
      <li class="nav-item mb-3">
        <a class="nav-link" (click)="showSection('guide')">Guía Grumpi</a>
      </li>
    </ul>
  </div>

  <!-- Contenido principal -->
  <div class="container-fluid main-content">
    <p class="d-flex justify-content-center mt-4">
      <button
        class="button-73"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Hola {{ nameProfesor }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-info-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
          />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
          />
        </svg>
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="row mb-3 prof_box mt-2">
          <div class="col">
            <p class="box-text">
              <span>👍</span> Bienvenido/a
              <strong>{{ nameProfesor }} {{ lastNameProfesor }}</strong> a la
              GrumpiApp.
            </p>
            <p>
              En este espacio podrá gestionar toda la información referente a
              sus alumnos para poder comenzar con los Grumpi.
            </p>
          </div>
          <div class="col-2">
            <div class="row d-flex justify-content-center">
              <button type="button" class="btn-out btns" (click)="logOut()">
                Salir
              </button>
            </div>
          </div>
          <hr />
          <p class="d-flex justify-content-center">
            A tu izquierda encontrarás una selección de opciones y a la derecha
            se mostrará el contenido de la opción seleccionada.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div
        *ngIf="showLogo"
        class="container-fluid d-flex justify-content-center align-items-center"
      >
        <img
          src="../../../assets/Logo_v0.1_sinFondo.png"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
    </div>

    <!-- Dynamic Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div *ngIf="activeSection === 'profile'" class="scrollable-div">
            <app-profile-profesor></app-profile-profesor>
          </div>
          <div *ngIf="activeSection === 'trainers'" class="scrollable-div">
            <app-trainers-admin></app-trainers-admin>
          </div>
          <div *ngIf="activeSection === 'profesorado'" class="scrollable-div">
            <app-profesor-admin></app-profesor-admin>
          </div>
          <div *ngIf="activeSection === 'medals'" class="scrollable-div">
            <app-medals-admin-screen></app-medals-admin-screen>
          </div>
          <div *ngIf="activeSection === 'creatures'" class="scrollable-div">
            <app-creatures-admin></app-creatures-admin>
          </div>
          <div *ngIf="activeSection === 'dashboard'" class="scrollable-div">
            <app-dashboard-screen></app-dashboard-screen>
          </div>
          <div *ngIf="activeSection === 'distintivos'" class="scrollable-div">
            <app-league-badges></app-league-badges>
          </div>
          <div *ngIf="activeSection === 'energies'" class="scrollable-div">
            <app-energies></app-energies>
          </div>
          <div *ngIf="activeSection === 'dolars'" class="scrollable-div">
            <app-grumpidolars></app-grumpidolars>
          </div>
          <div *ngIf="activeSection === 'guide'" class="scrollable-div">
            <!-- <app-rules-admin></app-rules-admin> -->
            <div class="text-center bg-box">
              <button
                type="button"
                class="btn btn-success mt-4 mb-4"
                routerLink="/rules_admin"
              >
                Acceder a la Guía Grumpi
              </button>
            </div>
          </div>
          <div *ngIf="activeSection === 'blog'" class="scrollable-div">
            <app-blog-screen></app-blog-screen>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
