.main-container {
  margin-top: 1%;
}

.btns {
  height: 80px;
  width: 300px;
  font-size: medium;
  margin-bottom: 5%;
}

.scrollable-div {
  max-height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.prof_box {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  width: 80%;
  border: 2px solid #ccc; /* Borde del div */
  border-radius: 15px; /* Radio de las esquinas */
  padding: 20px; /* Relleno interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;

}


// Configuración boton para salir de la sesión
.btn-out {
  border-radius: 40em;
  appearance: none;
  background-color: #fa4747;
  box-shadow: #743838 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  touch-action: manipulation;
}

.btn-out:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn-out:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn-out {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
