<app-nav-bar-admin></app-nav-bar-admin>

<mat-sidenav-container class="sidenav-container box">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item (click)="showSection('trainers')"
        >Lista de entrenadores</mat-list-item
      >
      <mat-list-item (click)="showSection('profesorado')"  *ngIf="isAdminUser"
        >Lista de profesores</mat-list-item
      >
      <hr>
      <h3 class="d-flex justify-content-center"> <strong>Administración del entrenador </strong></h3>
      <mat-list-item (click)="showSection('creatures')">Grumpis</mat-list-item>
      <mat-list-item (click)="showSection('medals')">Medallas</mat-list-item>
      <mat-list-item (click)="showSection('distintivos')"
        >Distintivos de liga</mat-list-item
      >
      <mat-list-item (click)="showSection('energies')">Energía</mat-list-item>
      <mat-list-item (click)="showSection('dolars')"
        >Grumpidólares</mat-list-item
      >
      <hr>
      <h3 class="d-flex justify-content-center"> <strong> Ayuda </strong></h3>
      <mat-list-item (click)="showSection('guide')"
        >Guía Grumpi</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid scrollable-div">
      <div class="row mb-3 prof_box mt-2">
        <div class="col">
          <p class="box-text">
            <span>👍</span> Bienvenido
            <strong>{{ nameProfesor }} {{ lastNameProfesor }}</strong> a la
            GrumpiApp.
          </p>
          <p>
            En este espacio podrá gestionar toda la información referente a sus
            alumnos para poder comenzar con los Grumpi.
          </p>
        </div>
        <div class="col-2">
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn-out btns" (click)="logOut()">
              Salir
            </button>
          </div>
        </div>
        <hr />
        <p class="d-flex justify-content-center">
          A tu izquierda encontrarás una selección de opciones y a la derecha se
          mostrará el contenido de la opción seleccionada.
        </p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <!-- CONTENIDO -->
            <div *ngIf="activeSection === 'trainers'">
              <app-trainers-admin></app-trainers-admin>
            </div>
            <div *ngIf="activeSection === 'profesorado'">
              <app-profesor-admin></app-profesor-admin>
            </div>
            <div *ngIf="activeSection === 'medals'">
              <app-medals-admin-screen></app-medals-admin-screen>
            </div>
            <div *ngIf="activeSection === 'creatures'">
              <app-creatures-admin></app-creatures-admin>
            </div>
            <div *ngIf="activeSection === 'distintivos'">
              <app-league-badges></app-league-badges>
            </div>
            <div *ngIf="activeSection === 'energies'">
              <app-energies></app-energies>
            </div>
            <div *ngIf="activeSection === 'dolars'">
              <app-grumpidolars></app-grumpidolars>
            </div>
            <div *ngIf="activeSection === 'guide'">
              <app-rules></app-rules>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div
        *ngIf="showLogo"
        class="container-fluid d-flex justify-content-center align-items-center"
      >
        <img src="../../../assets/Logo_v0.1_sinFondo.png" />
      </div>
      <div class="bg-box" style="bottom: 0">
        <div
          *ngIf="showLogo"
          class="mt-3 container-fluid d-flex justify-content-center align-items-center"
        >
          <p class="d-flex justify-content-center align-items-center mt-3">
            &copy; 2024 Grumpi-App. Todos los derechos reservados.
          </p>
          <br />
          <p class="d-flex justify-content-center align-items-center mt-3">
            Creado por Daniel G.D. & Pablo M.O.
          </p>
        </div>
        <div
          *ngIf="showLogo"
          class="container-fluid d-flex justify-content-center align-items-center"
        >
          <img
            id="panda"
            class="logoPanda"
            src="../../../assets/LogoEscuelaDeVerano2016-2.png"
          />
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
