<app-nav-bar-admin></app-nav-bar-admin>

<div class="container-fluid scrollable-div">
  <div class="row mb-3 prof_box mt-2">
    <div class="col">
      <p class="box-text">
        <span>👍</span> Bienvenido
        <strong>{{ nameProfesor }} {{ lastNameProfesor }}</strong> a la
        GrumpiApp.
      </p>
      <p>
        En este espacio podrá gestionar toda la información referente a sus
        alumnos para poder comenzar con los Grumpi.
      </p>
    </div>
    <div class="col-2">
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn-out btns" routerLink="/">Salir</button>
      </div>
    </div>
    <hr />
    <p class="d-flex justify-content-center">
      A tu izquierda encontrarás una selección de opciones y a la derecha se
      mostrará el contenido de la opción seleccionada.
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 main-container">
        <!-- BOTONERA -->
        <ul class="scrollable-div">
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('trainers')"
            >
              Lista de entrenadores
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('users')"
            >
              Alta usuario
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('creatures')"
            >
              Grumpis
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('medals')"
            >
              Medallas
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('distintivos')"
            >
              Distintivos de liga
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('energies')"
            >
              Energía
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-73 btns"
              (click)="showSection('dolars')"
            >
              Grumpidólares
            </button>
          </li>
        </ul>
      </div>
      <div class="col">
        <!-- CONTENIDO -->
        <div *ngIf="activeSection === 'trainers'">
          <app-trainers-admin></app-trainers-admin>
        </div>
        <div *ngIf="activeSection === 'medals'">
          <app-medals-admin-screen></app-medals-admin-screen>
        </div>
        <div *ngIf="activeSection === 'creatures'">
          <app-creatures-admin></app-creatures-admin>
        </div>
        <div *ngIf="activeSection === 'distintivos'">
          <app-league-badges></app-league-badges>
        </div>
        <div *ngIf="activeSection === 'energies'">
          <app-energies></app-energies>
        </div>
        <div *ngIf="activeSection === 'dolars'">
          <app-grumpidolars></app-grumpidolars>
        </div>
        <div *ngIf="activeSection === 'users'">
          <div class="d-flex justify-content-center align-items-center mt-6 bg-box box-text">
            <p>🧑‍🔧 Estamos trabajando en esta sección 🧑‍🔧</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
