<div class="container-fluid content-box">
  <div class="content-list">
    <ul>
      <li *ngFor="let energyGroup of groupedEnergies">
        <div class="row">
          <div class="col mb-2">
            <button class="evoBox">
              <strong>{{ energyGroup.type }}: </strong>{{ energyGroup.quantity }}
            </button>
          </div>
          <div class="col align-items-center">
            <input type="number" class="form-control inputBox" aria-label="Selecciona las energías" (input)="onQuantityChange(energyGroup.type, $event)" min="1" max={{energyGroup.quantity}} />
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="button-73 mt-3 mb-3" (click)="confirmSelection()">Confirmar Selección</button>
  </div>
</div>
