.content-box {
  box-shadow: #adcfff 0 -12px 6px inset;
  border-radius: 5em;
  overflow-y: auto;
}

.content-list {
  margin-top: 9%;
}


.img-config {
  height: 350px;
  width: 250px;
  margin: 2%;
}

.img-config img {
  display: flex;
  overflow: hidden;
  justify-content: center;
  object-fit: cover;
  align-items: center;
}

btn-config-space {
  margin-right: 6px;
}

ul {
  list-style-type: none;
}

.img-creature {
  width: 400px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2%;
}

.img-creature img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.scrollable {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.box-info {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.dolarbox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.dolarImg {
  width: 30px;
  height: 30px;
}

.dolarinfo {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dolarinfo:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.dolarinfo:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .dolarbox {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.price-tag {
  display: inline-block;
  background-color: #ffcc00;
  /* Color de fondo */
  padding: 5px 10px;
  /* Espaciado interno */
  border-radius: 5px;
  /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.price {
  font-size: 18px;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Negrita */
  color: #333;
  /* Color de texto */
}

.grumpiTag {
  height: 20px;
  width: 30px;
}

.evoBox {
  height: 50px;
  width: 200px;
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  touch-action: manipulation;
}

.evoBox:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.evoBox:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .dolarbox {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.inputBox {
  height: 50px;
  width: 200px;
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  touch-action: manipulation;
}

.scrollable-div {
  overflow-y: auto;
  max-height: calc(100vh - 600px);
}
