.end-text {
  text-align: center;
}

col {
  margin-bottom: 3%;
}

/**
* SCROLL
*/
.scrollable-div {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #2d812d;
  padding: 10px;
  box-shadow: 0 16px 8px rgba(0, 0, 0, 0.1);
}

.scrollable-div::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}
.scrollable-div::-webkit-scrollbar-track {
  background: #ffffff; /* Color de fondo de la pista */
  border-radius: 10px; /* Radio de borde de la pista */
}
.scrollable-div::-webkit-scrollbar-thumb {
  background: #197228; /* Color de la thumb */
  border-radius: 10px; /* Radio de borde de la thumb */
}
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la thumb al pasar el ratón */
}

.capital > p::first-letter {
  font-size: 4em; /* Tamaño de la primera letra */
  font-weight: bold; /* Negrita (opcional) */
  color: rgb(0, 143, 7); /* Color de la primera letra */
}

.btn {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 450px;
}
.btn:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.btnMenu {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.btnMenu:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btnMenu:active {
  transform: scale(1.025);
}

.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 4 / span 4;
}

.div2 {
  grid-column-start: 6;
}

/* Estructura general de la página */
.container {
  max-width: 100%;
  padding: 15px;
}

/* Flexbox para centrar contenido verticalmente */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scrollable-div {
  max-height: 60vh; /* Ajusta la altura para que sea scrollable */
  overflow-y: auto;
}

@media (max-width: 576px) {
  .box {
    flex-direction: column;
  }

  /* Ajustar los botones en la vista móvil */
  .btn,
  .btnMenu {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 90%; /* Limita el ancho máximo del botón */
    margin: 10px auto; /* Centra el botón horizontalmente */
    padding: 12px; /* Ajuste de padding para pantallas más pequeñas */
    font-size: 1.2rem; /* Aumenta el tamaño del texto para móviles */
  }

  /* Ajustar el contenedor principal */
  .container-md {
    padding: 10px;
  }

  /* Centrar contenido y ajustar para móviles */
  .text-center ul {
    padding: 0;
    list-style-type: none;
  }

  .text-center li {
    margin-bottom: 10px;
  }
}
