<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="btn btn-success" routerLink="/home">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<div class="container-md space-container">
  <h2>Reglas para el juego Los Grumpi</h2>
  <h6>Información adicional</h6>
  <p>
    En clase este año tenemos una metodología llamada gamificación. En esta, se
    vinculan rasgos de los videojuegos con las tareas en clase. En concreto, nos
    hemos traído el juego de Grumpi al colegio.
  </p>
  <p>
    En ella, tienen que ir haciendo pequeños retos para capturar Grumpi,
    conseguir las medallas de gimnasio o superar la liga Grumpi. Todos estos
    retos están vinculados con las asignaturas que tenemos en el colegio, por lo
    que es una buena forma de repasar, ampliar conocimientos y aprender un
    poquito más sobre diversos aspectos, mientras nos hacemos con un montón de
    Grumpi y medallas.
  </p>
  <p>
    Cabe indicar, que aunque la participación no es obligatoria, será bien
    recompensada, ya que no solo conseguiremos los Grumpi para pegarlos en
    nuestra tarjeta de entrenador, sino que se verá recompensado en nuestra
    nota.
  </p>
  <p>
    Que nos se nos olvide, los trabajos han de ser lo más originales posibles, y
    siempre que podamos, reaprovechar y reutilizar aquellos materiales que
    tengamos en clase y en casa.
  </p>
  <p>
    Además, cada viernes, nuestros/as alumnos/as conseguirán energía, una moneda
    de cambio que podrán usar en diferentes ámbitos de la gamificación: obtener
    recompensas, evolucionar Grumpi, combates...
  </p>
  <p>
    Esta se conseguirá mediante unos ítems que se establecieron al inicio de
    curso. Es muy importante que seáis responsables de vuestra energía, ya que
    si se pierde, esta no se recuperará salvo que ganemos alguna energía extra
    con trabajos en clase que irá indicando el profesor o nos tocará esperar al
    próximo viernes para conseguir la energía nueva que de dará esa semana.
  </p>
  <p class="end-text">
    <strong> ¡QUE COMIENCE LA AVENTURA GRUMPI! </strong>
  </p>
</div>
