<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/rules">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<div class="container">
  <h1 class="d-flex justify-content-center" id="titulo">
    <strong>OBTENCIÓN DE ENERGÍAS</strong>
  </h1>
  <hr />
</div>

<div class="container-md scrollable-div mb-6 bg-box">
  <div class="capital">
    <p class="mt-3">
      Las energías se conseguirían como recompensa frente a un buen trabajo y
      actitud en el aula durante toda la semana. Se entregarían el último día
      lectivo de cada semana. La energía puede ser conseguida realizando las
      siguientes actividades:
    </p>
  </div>

  <div class="row mb-3">
    <div class="col ul-box">
      <ul>
        <li>1- Apuntar la tarea en la agenda a diario.</li>
        <li>2- Traer la tarea hecha todos los días en todas las áreas.</li>
        <li>3- No tener conflictos en el recreo ni en el aula.</li>
        <li>
          4- Estar en silencio y atendiendo durante las explicaciones y durante
          el trabajo en clase.
        </li>
        <li>
          5- Participar en clase y ayudar a los compañeros y compañeras cuando
          pueda.
        </li>
      </ul>
    </div>
    <div class="col">
      <img
        class="img-box"
        src="../../../../assets/carteleria/comoConseguirEnergia.png"
      />
    </div>
  </div>
  <div class="row mb-3">
    <p>
      Se conseguirá una energía por cada apartado conseguido teniendo como
      máximo un total de 5 energías semanales. No obstante, hay veces que pueden
      surgir actividades de investigación no previstas o incluidas en las
      tarjetas Grumpi, pudiendo premiar al alumnado con energía extra esa
      semana.
    </p>
    <p>
      La energía tendrá diferentes usos, según la utilidad que queramos darle.
      Podemos con ella, evolucionar a los Grumpis, consiguiendo de esa manera
      aumentar el número de criaturas que poseemos y fortalecer a nuestros
      compañeros. Canjearla como moneda de cambio en la Tienda Grumpi, donde
      podremos comprar objetos exclusivos para fortalecer a nuestros Grumpi,
      ayudarnos en los combates o usarla para obtener otro tipo de recompensas,
      tales como:
    </p>

    <table>
      <tr>
        <th>Objetivos a cumplir</th>
        <th>Cantidad de energías que se consiguen</th>
      </tr>
      <tr>
        <td>No copiar los enunciados durante un día.</td>
        <td>25</td>
      </tr>
      <tr>
        <td>15 minutos de juego libre en el aula.</td>
        <td>25</td>
      </tr>
      <tr>
        <td>
          Cambiar una clase en la que vayamos bien según la temporalización por
          juegos.
        </td>
        <td>300 a juntar entre todos los compañeros</td>
      </tr>
      <tr>
        <td>
          Cambiar una clase en la que vayamos bien según la temporalización por
          ver una película.
        </td>
        <td>300 a juntar entre todos los compañeros</td>
      </tr>
    </table>
  </div>
  <div class="image-container">
    <img class="animateGrumpi" src="../../../../assets/grumpis/033- Superdino 2.png" alt="Super Dino" />
  </div>
  <p>
    La forma de conseguir la energía, las recompensas, así como el coste de las
    mismas puede ser modificado según las necesidades e intereses de cada grupo.
  </p>
  <div class="container text-center">
    <div class="row">
      <div class="col align-self-start obj mb-3">
        <img
          src="../../../../assets/carteleria/recompensa.png"
          alt="Recompensas por energías"
        />
      </div>
      <div class="col align-self-center"></div>
      <div class="col align-self-end obj mb-3">
        <img
          src="../../../../assets/carteleria/TIENDA_GRUMPI.png.png"
          alt="Tienda objetos evolutivos"
        />
      </div>
    </div>
  </div>
  <p>
    Cabe indicar, que la energía, va vinculada a los tipos de Grumpi u objetos
    que queramos conseguir, por ello hemos de pensar y ver qué tipo de energía
    necesitaremos cada semana, para así poder evolucionar a nuestro Grumpi
    favorito, poder usar el ataque especial de mi Grumpi en los combates o
    comprar el objeto que más me interese.
  </p>
  <div class="text-center">
    <img
      class="types-box"
      src="../../../../assets/carteleria/tiposEnergia.png"
      alt="Tipos de Grumpis"
    />
  </div>
</div>
