<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/rules">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>
<div class="container">
  <h1 class="d-flex justify-content-center">Mapas Grumpi</h1>
  <hr />
</div>
<div class="container-md scrollable-div mb-6">
  <div class="capital">
    <p class="mt-3">
      En clase trabajamos por equipos. Cada uno de los equipos tiene asociado un
      mapa de un ecosistema diferente, el cual será su referente en el avance
      del curso.
    </p>
  </div>
  <p>
    Los mapas están compuestos por 5 casillas, e irán avanzando semanalmente por
    cada una de ellas. Por lo que todos podrán pasar por los diferentes
    ecosistemas a lo largo del curso.
  </p>
  <p>
    Encontramos cinco mapas:<strong class="box-text">
      Gélido, Volcán, Desierto, Océano y Bosque.</strong
    >
  </p>
  <p>Los mapas, nos indican las tareas que puedo desarrollar esa semana.</p>
  <p>
    En las casillas que <strong>solo hay decoración</strong>, podremos
    <strong>capturar</strong> a nuestros <strong>Grumpi</strong>, quedando
    limitado a la consecución de 3 Grumpi entre las dos semanas que duran. (Las
    dos primeras casillas)
  </p>
  <p>
    En las casillas que aparece la <strong>tienda Grumpi</strong>, podremos
    canjear nuestros <strong>Grumpidólares o energía</strong> por las
    recompensas que queramos en la tienda. Además, puedo
    <strong>evolucionar a dos Grumpi</strong>. (Tercera casilla)
  </p>
  <p>
    En las casillas que aparece el <strong>Gimnasio Grumpi</strong>, puedo
    <strong>conseguir la medalla</strong>
    que me toque. Queda limitado a la consecución de una medalla, salvo
    excepciones indicadas por el profesor. (Cuarta casilla)
  </p>
  <p>
    En las casillas que aparece el <strong>Hospital Grumpi</strong>, puedo
    <strong>realizar combates</strong> con el juego elaborado para ello (solo
    hay uno para el aula), y puedo
    <strong>evolucionar a un Grumpi</strong>.(Quinta casilla)
  </p>
  <p>
    Una vez superado el mapa, se pasarán los avatares a otro mapa y se volverá a
    empezar en un ecosistema diferente.
  </p>
  <p>
    <img class="alert" src="../../../../assets/alert.png" />
    Si no he entregado el trabajo en el tiempo establecido para ello, tendré que
    esperarme hasta estar en la casilla correspondiente de nuevo.
  </p>
  <hr />
  <div class="container">
    <img class="box-map mb-3" src="../../../../assets/mapas/mapa1.png" />
    <img class="box-map mb-3" src="../../../../assets/mapas/mapa2.png" />
    <div class="d-flex justify-content-center">
      <img class="box-map mb-3" src="../../../../assets/mapas/mapa3.png" />
    </div>
  </div>
</div>
