<app-nav-bar *ngIf="!hideElements"></app-nav-bar>
<div class="btn-config">
  <button
    type="button"
    class="button-73"
    routerLink="/rules"
    *ngIf="!hideElements"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
  <button
    type="button"
    class="button-73"
    routerLink="/admin"
    *ngIf="hideElements"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>
<div class="container">
  <h1 class="d-flex justify-content-center">Descansos activos</h1>
  <hr />
</div>
<div class="container-md scrollable-div mb-6 bg-box">
  <div class="capital">
    <p class="mt-3">
      Los descansos activos son tareas o actividades que nos permiten salir de
      la rutina de trabajo para airear nuestros pensamientos y poder volver a
      nuestro trabajo con más energía.
    </p>
  </div>
  <p>
    Estos se llevarán a cabo cuando haya acabado la tarea o cuando me sienta muy
    frustrado y no sepa por donde seguir en ella, pudiendo tomarme un descanso
    para volver con más energía al trabajo.
  </p>
  <p>
    Una vez que cumpla uno de estos requisitos iré a la mesa del profesor o
    profesora y le indicaré que quiero una tarjeta de descanso activo. Estas se
    darán al azar, para evitar que siempre elijan la misma actividad en el
    descanso.
  </p>
  <p>
    En estas tarjetas, se describe el título de de la actividad, cómo la
    llevamos a cabo y el tiempo que puedo estar haciéndola si es en un descanso
    para recargar pilas, o por sí es un descanso tras haber acabado la tarea.
  </p>
  <div class="container">
    <!-- <img [src]="" alt="Imagen del Grumpi" /> -->
  </div>
</div>
