<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="btn-config">
    <button type="button" class="button-73" routerLink="/profile">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
      Atrás
    </button>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center scrollable-div">
  <div class="row">
    <div class="col">
      <div class="battle-arena mt-3 text-center">
        <div class="row grumpi player align-items-center">
          <div class="info">
            <div class="text">
              <h2>Nombre: {{ selectedGrumpi?.nombre }}</h2>
              <p>HP: {{ selectedGrumpi?.hp }}</p>
            </div>
            <img
              *ngIf="selectedGrumpi?.img"
              [src]="selectedGrumpi.img"
              alt="{{ selectedGrumpi?.nombre }}"
              class="img-fluid img-small"
            />
          </div>
          <div class="attacks">
            <div *ngFor="let atk of selectedGrumpi?.ataques">
              <button (click)="playerAttack(atk)" [disabled]="!playerTurn">
                {{ atk.nombre }}
              </button>
            </div>
          </div>
        </div>

        <div class="row grumpi opponent align-items-center">
          <div class="info">
            <div class="text">
              <h3>GRUMPI OPONENTE</h3>
              <h2>Nombre: {{ randomGrumpi?.nombre }}</h2>
              <p>HP: {{ randomGrumpi?.hp }}</p>
            </div>
            <img
              *ngIf="randomGrumpi?.img"
              [src]="randomGrumpi.img"
              alt="{{ randomGrumpi?.nombre }}"
              class="img-fluid img-small"
            />
          </div>
          <div class="attacks">
            <div *ngFor="let atk of randomGrumpi?.ataques">
              <button>{{ atk.nombre }}</button>
            </div>
          </div>
        </div>

        <div class="log">
          <h3>Battle Log</h3>
          <div *ngFor="let entry of log">{{ entry }}</div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="battle-list-creatures scrollable-div">
        <div
          class="grumpi player"
          *ngFor="let grumpi of grumpiList?.data?.grumpis"
        >
          <ul>
            <li class="d-flex justify-content-center align-items-center">
              <img
                *ngIf="grumpi?.img"
                [src]="grumpi.img"
                alt="{{ grumpi?.nombre }}"
                class="img-thumbnail img-small"
              />
              <button (click)="selectedGrumpi = grumpi; selectCreature()">
                {{ grumpi?.nombre }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
