/* Contenedor de la arena de batalla */
.battle-arena {
  background-image: url("../../../assets/game/backggrounds/Plain.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 10%;
  transform: scale(1);
  border-radius: 15px;
}

.grumpi {
  background-color: #c0ffc069;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px #ffffff80;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
}

.grumpi .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.grumpi img {
  max-width: 80px;
  margin-left: 10px;
}

.grumpi .attacks {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.player,
.opponent {
  text-align: left;
}

h2,
p {
  margin: 0;
  color: #000;
}
.scrollable-container {
  max-height: calc(100vh - 90px);
  overflow-y: auto;
}
/* Registro de batalla */
.log {
  background-color: #c0ffc0;
  max-height: 200px; /* Altura máxima para el log */
  overflow-y: auto; /* Permitir desplazamiento vertical */
  border: 1px solid #ccc; /* Borde para distinguir el área */
  padding: 10px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */
  border-radius: 15px; /* Esquinas redondeadas */
}

.scrollable-div {
  max-height: calc(100vh - 60px); /* Ajustar según la altura de la navbar */
  overflow-y: auto; /* Permitir desplazamiento vertical */
  overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

.battle-list-creatures {
  max-width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 10%;
  margin-left: 0;
}

.img-small {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
}

.battle-arena img {
  max-width: 80px;
  height: auto;
}

@media (max-width: 768px) {
  .battle-arena {
    transform: scale(1);
  }

  .battle-list-creatures {
    margin-top: 5%;
  }

  .battle-list-creatures {
    max-height: 25vh;
    overflow-y: auto;
  }

  .scrollable-div {
    max-height: 100vh;
    overflow-y: auto;
  }

  .grumpi .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .grumpi img {
    max-width: 80px;
    height: auto;
  }

  .grumpi .text {
    flex: 1;
    text-align: left; /* Alineación a la izquierda para el jugador */
  }
  .opponent .text {
    text-align: right; /* Alineación a la derecha para el oponente */
  }

  .player .info {
    flex-direction: row; /* Alinear en fila */
  }

  .opponent .info {
    flex-direction: row-reverse; /* Invertir el orden para el oponente */
  }
}

.floating-btn {
  position: fixed;
  bottom: 499px;
  right: 15px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 50%;
  width: 20%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px #0003;
  z-index: 1000;
  font-size: smaller;
}

.floating-btn-music {
  position: fixed;
  bottom: 15px;
  right: 339px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 50%;
  width: 10%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px #0003;
  z-index: 1000;
  font-size: smaller;
}

.result-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;

  &.won {
    border-color: green;
  }

  &.lost {
    border-color: red;
  }
}
