<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <!-- Botón de regreso al perfil -->
  <div class="btn-config">
    <button type="button" class="button-73" routerLink="/profile">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
      Atrás
    </button>
  </div>

  <!-- Botón flotante visible solo en dispositivos móviles -->
  <button
    type="button"
    class="floating-btn d-md-none"
    data-bs-toggle="modal"
    data-bs-target="#openCreaturesList"
  >
    Seleccionar Grumpi
  </button>

  <div class="container-fluid d-flex justify-content-center align-items-center scrollable-container">
    <div class="row justify-content-center">
      <!-- Sección de batalla con los Grumpis -->
      <div class="col-12 col-md-6">
        <div class="battle-arena mt-3 text-center">
          <!-- Grumpi del Jugador -->
          <div class="row grumpi player align-items-center">
            <div class="info d-flex justify-content-between">
              <div class="text">
                <label>Nombre: {{ selectedGrumpi?.nombre }}</label>
                <br />
                <label>HP: {{ selectedGrumpi?.PS }}</label>
              </div>
              <img
                *ngIf="selectedGrumpi?.img_general"
                [src]="selectedGrumpi.img_general"
                alt="{{ selectedGrumpi?.nombre }}"
                class="img-fluid img-small"
              />
            </div>
            <div class="d-flex justify-content-center mt-1">
              <div *ngFor="let atk of selectedGrumpi?.ataques">
                <button
                  type="button"
                  class="btn ms-2 me-2"
                  (click)="playerAttack(atk)"
                  [disabled]="!playerTurn"
                >
                  {{ atk.nombre }}
                </button>
              </div>
            </div>
          </div>

          <!-- Grumpi Oponente -->
          <div class="row grumpi opponent align-items-center">
            <div class="info d-flex justify-content-between">
              <img
                *ngIf="randomGrumpi?.img_general"
                [src]="randomGrumpi.img_general"
                alt="{{ randomGrumpi?.nombre }}"
                class="img-fluid img-small"
              />
              <div class="text">
                <label>Nombre: {{ randomGrumpi?.nombre }}</label>
                <br />
                <label>HP: {{ randomGrumpi?.PS }}</label>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-1">
              <div *ngFor="let atk of randomGrumpi?.ataques">
                <button type="button" class="btn ms-3 me-3">{{ atk.nombre }}</button>
              </div>
            </div>
          </div>

          <!-- <div class="row grumpi opponent align-items-center">
            <img
              *ngIf="randomGrumpi?.img_general"
              [src]="randomGrumpi.img_general"
              alt="{{ randomGrumpi?.nombre }}"
              class="img-fluid img-small"
            />
            <div class="info d-flex justify-content-between">
              <div class="text">
                <label>GRUMPI OPONENTE</label>
                <br />
                <label>Nombre: {{ randomGrumpi?.nombre }}</label>
                <br />
                <label>HP: {{ randomGrumpi?.PS }}</label>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-1">
              <div *ngFor="let atk of randomGrumpi?.ataques">
                <button type="button" class="btn ms-3 me-3">{{ atk.nombre }}</button>
              </div>
            </div>
          </div> -->

          <!-- Registro de batalla -->
          <div class="log" #logContainer>
            <label>Registro del combate</label>
            <div *ngFor="let entry of log">{{ entry }}</div>
          </div>

          <!-- Div flotante para mostrar el resultado -->
          <div class="result-message" *ngIf="battleFinished" [ngClass]="{'won': playerWon, 'lost': !playerWon}">
            <p>{{ resultMessage }}</p>
            <button type="button" class="btn" (click)="resetBattle()">Cerrar</button>
          </div>
        </div>
      </div>


      <!-- Ventana de selección de grumpis del entrenador -->
      <div
        class="modal fade"
        id="openCreaturesList"
        tabindex="-1"
        aria-labelledby="openCreaturesList"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="openCreaturesList">Mis Grumpis</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div style="width: 100%">
                <div
                  style="
                    position: relative;
                    padding-bottom: 50%;
                    padding-top: 0;
                    height: 0;
                  "
                >
                  <div class="battle-list-creatures scrollable-div">
                    <div
                      class="grumpi player"
                      *ngFor="let grumpi of grumpiList"
                    >
                      <ul>
                        <li
                          class="d-flex justify-content-center align-items-center"
                        >
                          <img
                            *ngIf="grumpi?.img_general"
                            [src]="grumpi.img_general"
                            alt="{{ grumpi?.nombre }}"
                            class="img-thumbnail img-small"
                          />
                          <button
                            type="button"
                            class="btn"
                            (click)="selectCreature(grumpi)"
                            data-bs-dismiss="modal"
                          >
                            {{ grumpi?.nombre }}
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="button-73" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
