<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <!-- Botón de regreso al perfil -->
  <div class="btn-config">
    <button type="button" class="button-73" routerLink="/profile">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
      Atrás
    </button>
  </div>

  <!-- Botón flotante visible solo en dispositivos móviles -->
  <button
    type="button"
    class="floating-btn d-md-none"
    data-bs-toggle="modal"
    data-bs-target="#openCreaturesList"
  >
    Mochila
  </button>

  <!-- Botón animado de flecha -->
  <div class="floating-arrow d-md-none">
    <img
      class="arrow arrow_animation"
      src="../../../assets/game/asstets_game/arrow.png"
    />
  </div>

  <!-- Botón de play -->
  <div class="floating_btn_music_box d-md-none" *ngIf="pause_music">
    <button
      type="button"
      class="floating-btn-music d-md-none"
      (click)="toggleMusic()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-play-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"
        />
      </svg>
    </button>
    <label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
        />
      </svg>
      Reproduce la música Grumpi
    </label>
  </div>

  <!-- Botón de pause -->
  <div class="floating_btn_music_box d-md-none" *ngIf="!pause_music">
    <button
      type="button"
      class="floating-btn-music d-md-none"
      (click)="toggleMusic()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pause-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"
        />
      </svg>
    </button>
    <label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
        />
      </svg>
      Pausa la música Grumpi
    </label>
  </div>

  <!-- Botón para menú de juego -->
  <div class="floating_btn_menu_box d-md-none">
    <button
      type="button"
      class="floating_btn_menu d-md-none"
      data-bs-toggle="modal"
      data-bs-target="#open_menu_game"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>
  </div>

  <div class="container" *ngIf="deviceType === 'desktop'">
    <button
      type="button"
      class="bag_desktop"
      data-bs-toggle="modal"
      data-bs-target="#openCreaturesList"
    >
      Mochila
    </button>
    <div class="battle-container">
      <!-- Opponent Section -->
      <div class="opponent-section">
        <div class="opponent-info">
          <strong>Oponente: {{ randomGrumpi?.nombre }}</strong>
          <div class="opponent-health-bar">
            <div class="opponent-health" style="width: 70%"></div>
          </div>
          <p>HP: {{ randomGrumpi?.PS }}</p>
        </div>

        <img
          *ngIf="randomGrumpi?.img_general"
          [src]="randomGrumpi.img_general"
          alt="{{ randomGrumpi?.nombre }}"
          class="grumpi-image grumpi_animation"
        />
      </div>

      <!-- Player Section -->
      <div class="player-section">
        <div class="player-info">
          <div class="player-details">
            <strong>Tu Grumpi: {{ selectedGrumpi?.nombre }}</strong>
            <div class="player-health-bar">
              <div class="player-health" style="width: 60%"></div>
            </div>
            <p>HP: {{ selectedGrumpi?.PS }}</p>
          </div>
        </div>
      </div>
      <img
        *ngIf="selectedGrumpi?.img_general"
        [src]="selectedGrumpi.img_general"
        alt="{{ selectedGrumpi?.nombre }}"
        class="grumpi-image-right grumpi_animation"
      />
      <!-- Attack Options -->
      <div class="attack-section" *ngFor="let atk of selectedGrumpi?.ataques">
        <strong>Selecciona un ataque:</strong>
        <button
          type="button"
          class="btn btn_game ms-2 me-2"
          (click)="playerAttack(atk)"
          [disabled]="!playerTurn"
        >
          {{ atk.nombre }}
        </button>
      </div>
    </div>
    <!-- MODAL PARA LA SELECCIÓN DE GRUMPIS DESKTOP -->
    <div
      class="modal fade"
      id="openCreaturesList"
      tabindex="-1"
      aria-labelledby="openCreaturesList"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="openCreaturesList">Mis Grumpis</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div style="width: 100%">
              <div
                style="
                  position: relative;
                  padding-bottom: 50%;
                  padding-top: 0;
                  height: 0;
                "
              >
                <div class="battle-list-creatures scrollable-div">
                  <div class="grumpi player" *ngFor="let grumpi of grumpiList">
                    <ul>
                      <li
                        class="d-flex justify-content-center align-items-center"
                      >
                        <img
                          *ngIf="grumpi?.img_general"
                          [src]="grumpi.img_general"
                          alt="{{ grumpi?.nombre }}"
                          class="img-thumbnail img-small"
                        />
                        <button
                          type="button"
                          class="btn"
                          (click)="selectCreature(grumpi)"
                          data-bs-dismiss="modal"
                        >
                          {{ grumpi?.nombre }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="button-73" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="log" #logContainer>
        <label><strong>Registro del combate</strong></label>
        <hr />
        <div *ngFor="let entry of log">{{ entry }}</div>
      </div>
    </div>
  </div>

  <div
    class="container-fluid d-flex justify-content-center align-items-center scrollable-container"
    *ngIf="deviceType === 'mobile'"
  >
    <div class="row justify-content-center">
      <!-- Sección de batalla con los Grumpis -->
      <div class="col-12 col-md-6">
        <div class="battle-arena mt-3 text-center">
          <!-- Grumpi del Jugador -->
          <div class="row grumpi player align-items-center">
            <div class="info d-flex justify-content-between">
              <div class="text">
                <label
                  ><strong>Nombre: </strong>{{ selectedGrumpi?.nombre }}</label
                >
                <br />
                <label><strong>HP: </strong>{{ selectedGrumpi?.PS }}</label>
              </div>
              <img
                *ngIf="selectedGrumpi?.img_general"
                [src]="selectedGrumpi.img_general"
                alt="{{ selectedGrumpi?.nombre }}"
                class="img-fluid img-small grumpi_animation"
              />
            </div>
            <div class="d-flex justify-content-center mt-1">
              <label><strong>Ataques: </strong></label>
              <br />
              <div *ngFor="let atk of selectedGrumpi?.ataques">
                <button
                  type="button"
                  class="btn btn_game ms-2 me-2"
                  (click)="playerAttack(atk)"
                  [disabled]="!playerTurn"
                >
                  {{ atk.nombre }}
                </button>
              </div>
            </div>
          </div>

          <!-- Grumpi Oponente -->
          <div class="row grumpi opponent align-items-center">
            <label><strong>Grumpi enemigo</strong></label>
            <hr />
            <div class="info d-flex justify-content-between">
              <img
                *ngIf="randomGrumpi?.img_general"
                [src]="randomGrumpi.img_general"
                alt="{{ randomGrumpi?.nombre }}"
                class="img-fluid img-small grumpi_animation"
              />
              <div class="text">
                <label
                  ><strong>Nombre: </strong>{{ randomGrumpi?.nombre }}</label
                >
                <br />
                <label><strong>HP: </strong> {{ randomGrumpi?.PS }}</label>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-1">
              <label><strong>Ataques: </strong></label>
              <br />
              <div *ngFor="let atk of randomGrumpi?.ataques">
                <button type="button" class="btn ms-3 me-3">
                  {{ atk.nombre }}
                </button>
              </div>
            </div>
          </div>

          <!-- Registro de batalla -->
          <div class="log" #logContainer>
            <label><strong>Registro del combate</strong></label>
            <hr />
            <div *ngFor="let entry of log">{{ entry }}</div>
          </div>

          <!-- Div flotante para mostrar el resultado -->
          <div
            class="result-message"
            *ngIf="battleFinished"
            [ngClass]="{ won: playerWon, lost: !playerWon }"
          >
            <p>{{ resultMessage }}</p>
            <button type="button" class="btn" (click)="resetBattle()">
              Cerrar
            </button>
          </div>

          <div *ngIf="loading" class="spinnerCharge">
            <img
              src="../../../../assets/game/asstets_game/animado.png"
              alt="Cargando..."
              class="custom-spinner"
            />
            <label>Cargando...</label>
          </div>
        </div>
      </div>

      <!-- Ventana de selección de grumpis del entrenador -->
      <div
        class="modal fade"
        id="openCreaturesList"
        tabindex="-1"
        aria-labelledby="openCreaturesList"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="openCreaturesList">
                Mis Grumpis
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div style="width: 100%">
                <div
                  style="
                    position: relative;
                    padding-bottom: 50%;
                    padding-top: 0;
                    height: 0;
                  "
                >
                  <div class="battle-list-creatures scrollable-div">
                    <div
                      class="grumpi player"
                      *ngFor="let grumpi of grumpiList"
                    >
                      <ul>
                        <li
                          class="d-flex justify-content-center align-items-center"
                        >
                          <img
                            *ngIf="grumpi?.img_general"
                            [src]="grumpi.img_general"
                            alt="{{ grumpi?.nombre }}"
                            class="img-thumbnail img-small"
                          />
                          <button
                            type="button"
                            class="btn"
                            (click)="selectCreature(grumpi)"
                            data-bs-dismiss="modal"
                          >
                            {{ grumpi?.nombre }}
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="button-73" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="open_menu_game"
        tabindex="-1"
        aria-labelledby="open_menu_game"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="open_menu_game">Menú</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="me-3 ms-3 button-73">
                  Rendirse
                </button>
                <button type="button" class="me-3 ms-3 button-73">Salir</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="button-73" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
