.bg {
  background-image: url(../../../assets/geometric.jpeg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.txt {
  color: red;;
}

.btn-config{
  margin-top: 15%;
}

.avatar {
  height: 100px;
  width: 100px;
  display: flex;
  margin-left: 40%;
}

#borderText {
  border-radius: 3em;
  border: 2px solid #2d812d;
}

.footerBtn {
  bottom: 0;
}
