<div class="container bg-box">
  <div class="container">
    <div class="row">
      <div class="col-2 mt-3">
        <img
          [src]="
            profesor?.foto
              ? profesor.foto
              : '../../../../../assets/avatars/predefinido.png'
          "
          alt="Foto del Profesor"
          class="img-fluid imgProfile"
        />
      </div>
      <div class="col mt-3">
        <div class="row">
          <div class="col-3  align-content-center">
            <div class="mb-3">
              <label for="nombre" class="form-label"
                ><strong>Nombre:</strong> {{ profesor.nombre }}</label
              >
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="apellidos" class="form-label"
                ><strong>Apellidos:</strong> {{ profesor.apellidos }}</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="container">
        <div class="mb-3">
          <label for="usuario" class="form-label"
            ><strong>Usuario:</strong> {{ profesor.usuario }}</label
          >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            ><strong>Contraseña actual:</strong> {{ profesor.password }}</label
          >
        </div>
        <div class="mb-3 text-center">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="openEditPage(profesor)"
          >
            Cambiar contraseña
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
