<!-- <app-nav-bar-admin></app-nav-bar-admin> -->

<div class="container-fluid mainBoxAdmin scrollable-div">
  <div class="btn-config mt-3 mainBoxAdminContent">
    <button type="button" class="btn" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
      Atrás
    </button>
  </div>

  <h2 class="justify-content-center d-flex mainBoxAdminContent">
    Edición del entrenador: <span class="trainerName"> {{this.data.name}}</span>
  </h2>
  <hr />

  <div class="container mainBoxAdminContent">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="trainer_name" class="form-label"
          >Nombre de entrenador</label
        >
        <input
          type="text"
          class="form-control"
          id="trainer_name"
          formControlName="trainer_name"
        />
      </div>
      <label for="trainer_pass" class="form-label mt-3"
        >Contraseña entrenador</label
      >
      <input
        type="text"
        class="form-control"
        id="trainer_pass"
        formControlName="trainer_pass"
      />
      <label for="grumpidolar" class="form-label mt-3">Grumpidólares</label>
      <input
        type="text"
        class="form-control"
        id="grumpidolar"
        formControlName="grumpidolar"
      />
      <label for="combatMark" class="form-label mt-3">Marcas de combate</label>
      <input
        type="text"
        class="form-control"
        id="combatMark"
        formControlName="combatMark"
      />
      <div class="row mt-2">
        <div class="col">
          <div class="d-flex justify-content-center">
            <div class="img-creature mg-5" *ngFor="let medalImage of data?.medallas">
              <img srcset="{{ medalImage }}" />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Ver objetos</button>
          </div>
        </div>
      </div>
      <div class="container mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Confirmar</button>
      </div>
    </form>
  </div>
</div>
