.img-config {
  height: 350px;
  width: 250px;
  margin: 2%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; 
}

.box-text {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  margin-right: 11%;
}

.img-config img {
  display: flex;
  overflow: hidden;
  justify-content: center;
  object-fit: cover;
  align-items: center;
}

btn-config-space {
  margin-right: 6px;
}

ul {
  list-style-type: none;
}

.sizeHand {
  font-size: 3rem;
}
// Aspecto para las pestañas seleccionadas
.nav-pills .nav-link.active {
  background-color: #abf8b6; /* Cambia el color de fondo del tab activo */
  color: #020202; /* Cambia el color del texto del tab activo */
  border: 1px solid #ddd; /* Añade un borde si es necesario */
  /* Puedes añadir otros estilos como shadow, padding, etc. */
}

.img-creature {
  width: 400px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2%;
}

.img-creature img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.scrollable-div {
  max-height: calc(100vh - 540px);
  overflow-y: auto;
}

.box-info {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.dolarbox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.dolarImg {
  width: 30px;
  height: 30px;
}

.dolarinfo {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dolarinfo:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.dolarinfo:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .dolarbox {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.price-tag {
  display: inline-block;
  background-color: #ffcc00;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price {
  font-size: 18px;
  color: #333;
}

.grumpiTag {
  height: 20px;
  width: 30px;
}

.evoBox {
  height: 50px;
  width: 200px;
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.evoBox:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.evoBox:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .dolarbox {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.scrollable {
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.boxImg {
  border-radius: 2em;
}

#img {
  max-width: 100%; /* Ajusta el ancho máximo para que la imagen sea responsive */
  height: auto; /* Permite que la altura se ajuste automáticamente al ancho */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  max-height: 150px; /* Define una altura máxima para la imagen */
  margin-bottom: 3%;
  margin-top: 3%;
}



#info {
  font-size: 1.2rem;
  color: #197228;
}

#borderText {
  border-radius: 3em;
  border: 2px solid #2d812d;
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}
.wobble-hor-bottom:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/**
*
* CONFIGURACIÓN PARA TEXTO
*
*/
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
} /* ----------------------------------------------
 * Generated by Animista on 2024-6-29 13:5:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.iconImg {
  height: 45px;
  width: 45px;
}

.boxIcon {
  background-color: #75b3ec;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
}

.toUpperCase {
  text-transform: uppercase;
}
