<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col">
    <div class="btn-config">
      <button type="button" class="button-73" routerLink="/home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
          />
        </svg>
        Atrás
      </button>
    </div>
  </div>

  <div class="col">
    <div class="container dolarbox">
      <button class="dolarinfo">
        <img
          class="dolarImg"
          src="../../../assets/MONEDA_GRUMPI_CARA.png"
        /><strong> Mis Grumpidólares: </strong> {{ grumpidolar }}
      </button>
    </div>
  </div>
  <h1 class="d-flex justify-content-center text-align-center">
    <strong> TIENDA GRUMPI </strong>
  </h1>
  <hr />
</div>

<div class="container text-center">
  <ul
    class="nav nav-pills mb-3 justify-content-center"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="active button-73"
        id="pills-objects-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-objects"
        type="button"
        role="tab"
        aria-controls="pills-objects"
        aria-selected="true"
      >
        Objetos de combate
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-rewards-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-rewards"
        type="button"
        role="tab"
        aria-controls="pills-rewards"
        aria-selected="false"
      >
        Recompensas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-evolution-objects-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-evolution-objects"
        type="button"
        role="tab"
        aria-controls="pills-evolution-objects"
        aria-selected="false"
      >
        Objetos evolutivos
      </button>
    </li>
  </ul>

  <!-- Contenido de las tablas -->
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-objects"
      role="tabpanel"
      aria-labelledby="pills-objects-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong> OBJETOS DE COMBATE </strong></h2>
      <hr />
      <div class="container text-center align-items-center scrollable-div">
        <div class="img-creature mg-5" *ngFor="let object of this.imageUrls">
          <div class="row">
            <div class="col"><img srcset="{{ object.imagen }}" /></div>
            <div class="col">
              <button
                type="button"
                class="button-73"
                (click)="selectedObject = object; buyCombatObjects()"
              >
                Lo quiero
              </button>
              <div class="price-tag mt-3">
                <span class="price">
                  <div class="row">
                    <div class="col">
                      <img
                        class="grumpiTag"
                        src="../../../assets/MONEDA_GRUMPI_CARA.png"
                      />
                    </div>
                    <div class="col">{{ object.precio }}</div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-rewards"
      role="tabpanel"
      aria-labelledby="pills-rewards-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong> RECOMPENSAS </strong></h2>
      <hr />
      <div class="row">
        <div class="col scrollable-div">
          <div
            class="img-creature mg-5"
            *ngFor="let object of this.rewards_list"
          >
            <div class="row">
              <div class="col"><img srcset="{{ object.img }}" /></div>
              <div class="col">
                <button
                  type="button"
                  class="button-73"
                  (click)="selectedObject = object; buyRewards()"
                >
                  Lo quiero
                </button>
                <div class="price-tag mt-3">
                  <span class="price">
                    <div class="col" *ngIf="object.condicion !== '300'">
                      {{ object.condicion }} energías.
                    </div>
                    <div class="col" *ngIf="object.condicion == '300'">
                      {{ object.condicion }} energías. ​
                    </div>
                  </span>
                </div>
                <div *ngIf="object.condicion == '300'">​✨</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col scrollable-div">
          <!-- SELECCION DE ENERGÍAS -->
          <div class="container-fluid">
            <h2>Selección de energías</h2>
            <div class="row">
              <div class="col"><h3>Total de energías: {{ cantidadTotal }} </h3></div>
              <div class="col"><h3>Cantidad necesaria: {{selectedObject?.condicion}}</h3></div>
            </div>
            <div class="container-fluid">
              <app-medals-list *ngIf="this.isClicked"></app-medals-list>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="pills-evolution-objects"
      role="tabpanel"
      aria-labelledby="pills-evolution-objects-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong>OBJETOS EVOLUTIVOS</strong></h2>
      <hr />
      <div class="row">
        <div class="col">
          <div class="container text-center align-items-center scrollable-div">
            <div
              class="img-creature mg-5"
              *ngFor="let object of this.evolutionObjects"
            >
              <div class="row">
                <div class="col"><img srcset="{{ object.imagen }}" /></div>
                <div class="col">
                  <button
                    type="button"
                    class="button-73"
                    (click)="selectedObject = object; buyEvolutionObjects()"
                  >
                    Lo quiero
                  </button>
                  <div class="price-tag mt-3">
                    <span class="price">
                      <span>
                        {{ object.precio }} energías de tipo:
                        <strong> {{ object.tipo }}</strong>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- INFORMACIÓN SOBRE LAS ENERGÍAS DISPONIBLES POR EL ENTRENADOR -->
        <div class="col">
          <div class="container">
            <h2 class="box-text">
              Mis energías: <strong>{{ cantidadTotal }}</strong>
            </h2>
            <hr />
            <ul>
              <li>
                <button class="evoBox">
                  <strong> Tipo Agua: </strong>
                  {{ cantidadEnergiaAgua }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Fuego: </strong>
                  {{ cantidadEnergiaFuego }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Aire: </strong>
                  {{ cantidadEnergiaAire }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Luz: </strong>
                  {{ cantidadEnergiaLuz }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Normal: </strong>
                  {{ cantidadEnergiaNormal }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Oscuridad: </strong>
                  {{ cantidadEnergiaOscuridad }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Rayo: </strong>
                  {{ cantidadEnergiaRayo }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Tierra: </strong>
                  {{ cantidadEnergiaTierra }}
                </button>
              </li>
              <li>
                <button class="evoBox">
                  <strong> Vida: </strong>
                  {{ cantidadEnergiaVida }}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
