<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col">
    <div class="btn-config">
      <button type="button" class="button-73" routerLink="/home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
          />
        </svg>
        Atrás
      </button>
    </div>
  </div>

  <h1 class="d-flex justify-content-center text-align-center">
    <strong> TIENDA GRUMPI </strong>
  </h1>
  <hr />
</div>

<div class="container text-center bg-box scrollBox">

  <!-- MENÚ PRINCIPAL DE LA TIENDA -->
  <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link button-73 me-3 active" id="pills-grumpiDolarContent-tab" data-bs-toggle="pill" data-bs-target="#pills-grumpiDolarContent" type="button" role="tab" aria-controls="pills-grumpiDolarContent" aria-selected="true" (click)="seleccionarOpcion('grumpidolares')">Con Grumpidólares</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link button-73 me-3" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="seleccionarOpcion('energias')">Con Energías</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent" *ngIf="mostrarGrumpidolares || mostrarEnergias">

    <!-- SUBMENÚ QUE SE MUESTRA SEGÚN SE SELECCIONA COMPRAR CON GRUMPIDÓLARES -->
    <div class="tab-pane fade show active" id="pills-grumpiDolarContent" role="tabpanel" aria-labelledby="pills-grumpiDolarContent-tab">
      <ul class="nav nav-pills mb-3 mt-3" id="pills-tabGrumpiDolar" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link button-73 me-3 active" id="pills-objects-tab" data-bs-toggle="pill" data-bs-target="#pills-objects" type="button" role="tab" aria-controls="pills-objects" aria-selected="true">Objetos de Combate</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link button-73 me-3" id="pills-energies-tab" data-bs-toggle="pill" data-bs-target="#pills-energies" type="button" role="tab" aria-controls="pills-energies" aria-selected="false">Energías</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContentGrumpiDolar">
        <!-- ESPACIO PARA MOSTRAR EL CONTENIDO DE LOS OBJETOS DE COMBATE -->
        <div class="tab-pane fade show active" id="pills-objects" role="tabpanel" aria-labelledby="pills-objects-tab">
          Aquí los objetos de combate
        </div>
        <!-- ESPACIO PARA MOSTRAR EL CONTENIDO DE LAS ENERGÍAS -->
        <div class="tab-pane fade" id="pills-energies" role="tabpanel" aria-labelledby="pills-energies-tab">
          Aquí las energías
        </div>
      </div>
    </div>

    <!-- SUBMENÚ QUE SE MUESTRA SEGÚN SE SELECCIONA COMPRAR CON ENERGÍAS -->
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <ul class="nav nav-pills mb-3 mt-3" id="pills-tabEnergies" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link button-73 me-3 active" id="pills-objects-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-objects-profile" type="button" role="tab" aria-controls="pills-objects-profile" aria-selected="true">Recompensas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link button-73 me-3" id="pills-energies-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-energies-profile" type="button" role="tab" aria-controls="pills-energies-profile" aria-selected="false">Objetos Evolutivos</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContentProfile">

        <!-- ESPACIO PARA MOSTRAR EL CONTENIDO DE LAS RECOMPENSAS -->
        <div class="tab-pane fade" id="pills-objects-profile" role="tabpanel" aria-labelledby="pills-objects-profile-tab">
          Contenido de las recompensas
        </div>
        <!-- ESPACIO PARA MOSTRAR EL CONTENIDO DE LOS OBJETOS EVOLUTIVOS -->
        <div class="tab-pane fade" id="pills-energies-profile" role="tabpanel" aria-labelledby="pills-energies-profile-tab">
          Contenido de los objetos evolutivos
        </div>
      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>
