.img-box {
  height: 400px;
  width: 300px;
}

.bg {
  background-image: url('../../../assets/backgrounds/bg-Grumpi.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: auto;
}

.navTitle {
  background-color: azure;
}
