<div class="container-fluid bg scrollable-div">
  <div class="button-container">
    <button type="button" class="button-73" (click)="closeDialog()">
      ¡OK!
    </button>
  </div>
  <div class="container mt-3" *ngIf="isNotAMedal">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      {{ data.nombre }}
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isFire">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Fuego
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isWater">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Agua
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isLight">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Luz
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isDark">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Oscuridad
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isThunder">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Rayo
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isNormal">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Normal
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isEarth">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Tierra
    </h1>
  </div>
  <div class="container mt-3" *ngIf="isLife">
    <h1 class="d-flex justify-content-center box-text" id="titulo">
      Medalla Vida
    </h1>
  </div>

  <div class="container">
    <!-- Se renderiza cuando la imagen proviene de un grumpi -->
    <div class="d-flex justify-content-center" *ngIf="isAGrumpi">
      <img class="img-box" src="{{ data.img_conseguir }}" (contextmenu)="disableRightClick($event)"/>
    </div>
    <!-- Se renderiza cuando la imagen no proviene de un grumpi -->
    <div class="d-flex justify-content-center" *ngIf="data?.imagen">
      <img class="img-box" src="{{ data.imagen }}" (contextmenu)="disableRightClick($event)"/>
    </div>
    <!-- Se renderiza cuando la información solo consta de la imagen -->
    <div
      class="d-flex justify-content-center"
      *ngIf="!data.img && !data.imagen && !data.message"
    >
      <img class="img-box" src="{{ data }}" (contextmenu)="disableRightClick($event)"/>
    </div>
    <div
      class="d-flex justify-content-center"
      *ngIf="data.message"
    >
      <img class="img-box" src="{{ data.message }}" (contextmenu)="disableRightClick($event)"/>
    </div>
    <div class="container bg-box mt-3" *ngIf="data?.descripcion">
      <div class="container mt-3 mb-3">
        <h2>Descripción</h2>
        <hr />
        <p>{{ data.descripcion }}</p>
      </div>
    </div>
    <div class="container bg-box mt-3" *ngIf="data?.count">
      <div class="container mt-3 mb-3">
        <hr />
        <p>Has conseguido {{ data?.count }}</p>
      </div>
    </div>
  </div>
</div>
