.img-box {
  max-height: 318px;
  max-width: 300px;
  /* width: 100%; */
  /* height: auto; */
  margin-bottom: 20px;
}

.img-box-without-description {
  max-height: 318px;
  max-width: 300px;
  /* width: 100%; */
  /* height: auto; */
  margin-bottom: 20px;
}

.bg {
  background-image: url("../../../assets/geometric.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navTitle {
  background-color: azure;
}

.bg-box {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slightly transparent background */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}
