@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

#titulo {
  font-family: "Bangers";
  font-size: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
}

.logo {
  height: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-73 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

/*------------------------------------------*
*
*  CONFIGURACIÓN PARA EL TÍTULO DE LA APP
*
*-------------------------------------------*/

.text-focus-in {
  justify-content: center;
  display: flex;
  margin-top: 2%;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

// Configuración boton para salir de la sesión
.btn-out {
  border-radius: 40em;
  appearance: none;
  background-color: #fa4747;
  box-shadow: #743838 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-out:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn-out:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn-out {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.floating-button-redes {
  position: fixed;
  bottom: 20px;
  left: 80px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.floating-button .button-73 {
  border-radius: 50%; /* Hace que el botón sea redondo */
  padding: 10px 15px; /* Ajusta el tamaño del botón */
  background-color: #ffffff; /* Ajusta el color de fondo */
  color: rgb(0, 0, 0); /* Ajusta el color del texto */
  border: none; /* Remueve el borde */
  box-shadow: #adcfff 0 -12px 6px inset; /* Añade una sombra */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.floating-button .button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.floating-button-redes .button-73 {
  border-radius: 50%; /* Hace que el botón sea redondo */
  padding: 10px 15px; /* Ajusta el tamaño del botón */
  background-color: #ffffff; /* Ajusta el color de fondo */
  color: rgb(0, 0, 0); /* Ajusta el color del texto */
  border: none; /* Remueve el borde */
  box-shadow: #adcfff 0 -12px 6px inset; /* Añade una sombra */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.floating-button-redes .button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.container {
  margin-bottom: 50px; /* Ajusta el valor según lo necesario */
}

.scrollable-div {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

/**
    AJUSTE PARA LOS BOTONES DE REDES SOCIALES
*/
.dropdown-menu {
  box-shadow: #adcfff 0 -12px 6px inset;
  border-radius: 10%;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  overflow: hidden; /* Asegura que el pseudo-elemento no se salga del contenedor */
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/GrumpiApp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: blur(1px); /* Aplica el efecto de desenfoque */
  z-index: -1; /* Coloca el fondo detrás del contenido */
}


.menuBTN {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.menuBTN:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.menuBTN:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .menuBTN {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
