<div class="floating_btn_menu_box">
  <button type="button" class="floating_btn_menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
  </button>
</div>

<div class="energy-table-container">
  <table class="energy-table">
    <thead>
      <tr>
        <th rowspan="2">ENTRENADORES</th>
        <th colspan="9">ENERGÍAS</th>
      </tr>
      <tr>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Agua2.0.PNG"
            alt="Agua"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Fuego2.0.PNG"
            alt="Fuego"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Aire2.0.PNG"
            alt="Aire"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Luz2.0.PNG"
            alt="Luz"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Normal2.0.PNG"
            alt="Normal"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Oscuridad2.0.PNG"
            alt="Oscuridad"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Rayo2.0.PNG"
            alt="Rayo"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Tierra2.0.PNG"
            alt="Tierra"
          />
        </th>
        <th>
          <img
            class="imgEnergy"
            src="../../../../assets/iconEnergies/Vida2.0.PNG"
            alt="Vida"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers">
        <td>{{ trainer.name }}</td>
        <!-- <td *ngFor="let energia of trainer.energies">
          <div class="energy-input">
            <button
              type="button"
              (click)="decrementEnergy(trainer.id, energia.tipo)"
            >
              -
            </button>
            <input
              type="number"
              [value]="energia.cantidad"
              (change)="updateEnergy(trainer.id, energia.tipo, $event)"
            />
            <button
              type="button"
              (click)="incrementEnergy(trainer.id, energia.tipo)"
            >
              +
            </button>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <button type="button" (click)="guardarCambios()">Guardar cambios</button>
    <button type="button" (click)="cancelarCambios()">Cancelar cambios</button>
  </div>
</div>
