<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="../../../assets/Logo_v0.1_sinFondo.png"
        alt="Logotipo de GrumpiApp"
        width="30"
        height="30"
        (contextmenu)="disableRightClick($event)"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-the-app">
            ¿Qué son Los Grumpi?
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about"> Sobre Nosotros </a>
        </li>
      </ul>
      <div class="d-flex justify-content-end">
          <div class="row">
            <div class="col-1">
              <img
                [src]="avatar"
                alt="Avatar"
                style="height: 50px; width: 50px"
                (contextmenu)="disableRightClick($event)"
              />
            </div>
            <div class="col trainer-link">
              <a class="nav-link" routerLink="/profile"> Perfil Entrenador </a>
            </div>
          </div>
      </div>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
