<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/rules">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>
<div class="container">
  <h1 class="d-flex justify-content-center" id="titulo">
    <strong> GRUMPIDÓLARES </strong>
  </h1>
  <hr />
</div>
<div class="container-md scrollable-div mb-6 bg-box">
  <div class="container text-center">
    <div class="row">
      <div class="col align-self-start">
        <button class="button-73 mb-3">Grumpidólar cara</button>
        <img
          class="dolar-box animacionPalpito"
          src="../../../../assets/MONEDA_GRUMPI_CARA.png"
          alt="Moneda Grumpi Cara"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
      <div class="col align-self-center">
        <div class="capital">
          <p class="mt-3">
            Son una moneda de cambio en una tienda especial, en la que podremos
            conseguir objetos de combate o comprar energía del tipo que
            necesitemos. Estas monedas, se consiguen en ciertos momentos en los
            que los profesores manden alguna tarea extra o de investigación,
            fuera de las establecidas para conseguir energía. También, se podrán
            conseguir en las asignaturas de <strong>educación física y música.</strong>
          </p>
        </div>
      </div>
      <div class="col align-self-end mt-3">
        <img
          class="dolar-box-cruz animacionPalpito"
          src="../../../../assets/MONEDA_GRUMPI_CRUZ.png"
          alt="Moneda Grumpi Cruz"
          (contextmenu)="disableRightClick($event)"
        />
        <button class="button-73">Grumpidólar cruz</button>
      </div>
    </div>
  </div>
  <p>En <strong>educación física</strong>, podremos conseguir Grumpidólar a través de:</p>
  <ul>
    <li>Realizar el calentamiento correctamente.</li>
    <li>
      Dialogar con respeto para solucionar los problemas que surjan en los
      juegos de EF.
    </li>
    <li>Traer ropa deportiva y bolsa de aseo completa: jabón y toalla.</li>
    <li>Esforzarse en las clases de EF.</li>
    <li>
      Participar adecuadamente en las tareas y juegos de EF: disputar y respetar
      a los demás.
    </li>
  </ul>
  <p>En <strong>música</strong> se podrán conseguir mediante:</p>
  <ul>
    <li>Traer todos los días el material de música.</li>
    <li>Tener una actitud positiva, respetando las normas de convivencia.</li>
    <li>Permanecer en silencio para ESCUCHAR y pedir la palabra.</li>
    <li>No tocar a destiempo, sigo las instrucciones de la profe.</li>
    <li>Hacer las tareas que me mandan y entregarlas a tiempo.</li>
    <li>Participar activamente y con ilusión en las actividades.</li>
  </ul>

  <div class="container mb-3">
    <div class="row text-center">
      <div class="col">
        <img class="sizeIMG" src="../../../../assets/carteleria/grumpimonedasEF.png" (contextmenu)="disableRightClick($event)">
      </div>
      <div class="col">
        <img class="sizeIMG" src="../../../../assets/carteleria/grumpimonedasMusica.png" (contextmenu)="disableRightClick($event)">
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
    <h2>Tienda Grumpi / Objetos de combate</h2>
    <hr />
  </div>
  <p>
    Es una tienda especial, cuya moneda de cambio son las Grumpidólar. A partir
    de estas podremos comprar objetos que luego podremos usar en los combates o
    intercambiarlas por la energía que necesitemos.
  </p>
  <p><strong> Así mismo, los costes por objeto son: </strong></p>

  <div class="container d-flex justify-content-center">
    <table>
      <tr>
        <th>Objeto</th>
        <th>Coste</th>
      </tr>
      <tr>
        <td>Poción</td>
        <td>7 Grumpidólares</td>
      </tr>
      <tr>
        <td>Antídoto</td>
        <td>5 Grumpidólares</td>
      </tr>
      <tr>
        <td>Despertador</td>
        <td>5 Grumpidólares</td>
      </tr>
      <tr>
        <td>Gafas de sol</td>
        <td>5 Grumpidólares</td>
      </tr>
      <tr>
        <td>Desfibrilador</td>
        <td>5 Grumpidólares</td>
      </tr>
      <tr>
        <td>Extintor</td>
        <td>5 Grumpidólares</td>
      </tr>
      <tr>
        <td>Energía Grumpi</td>
        <td>10 Grumpidólares</td>
      </tr>
    </table>
  </div>
  <div class="container text-end">
    <img class="dolar-box-cruz" src="../../../../assets/grumpis/Nifa.png" (contextmenu)="disableRightClick($event)"/>
  </div>
</div>
