<!-- Lista de profesores -->
<div class="container-fluid bg-box">
  <h3 class="d-flex justify-content-center">
    <strong> Lista de profesores </strong>
  </h3>
  <hr class="d-flex justify-content-center mainBoxAdminContent" />

  <!-- Spinner mientras los datos están cargando -->
  <div *ngIf="loading" class="d-flex justify-content-center mt-4">
    <div class="spinner-grow text-success" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <!-- Contenido cuando los datos estén cargados -->
  <div *ngIf="!loading" class="d-flex justify-content-center mainBoxAdminContent">
    <div class="row align-items-center">
      <div class="col-5 d-flex flex-column align-items-center">
        <label>Nuevo usuario</label>
        <button type="button" class="btn btn-success btn-list d-flex justify-content-center align-items-center"
          (click)="openAddTrainerModal()">
          <i class="material-icons">&#xe145;</i>
        </button>
      </div>
      <div class="col-5 d-flex flex-column align-items-center">
        <label>Actualizar lista</label>
        <button type="button" class="btn btn-success btn-list d-flex justify-content-center align-items-center"
          (click)="updateList()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
            <path
              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
          </svg>
        </button>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <button type="button" data-bs-toggle="modal" data-bs-target="#more_info" class="btn ms-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de profesores -->
  <div *ngIf="!loading" class="d-flex justify-content-center mainBoxAdminContent">
    <div class="list mt-3 box-trainer">
      <p *ngIf="getError">{{ errorGetProfesors }}</p>
      <ul *ngIf="profesors.length > 0" cdkDropList (cdkDropListDropped)="onProfessorReordered($event)">
        <li *ngFor="let profesor of profesors" cdkDrag [cdkDragData]="profesor">
          <div class="row">
            <div class="col-1 d-flex align-items-center">
              <i class="material-icons cdk-drag-handle" cdkDragHandle
                >drag_indicator</i
              >
            </div>
            <div class="col" id="entrenador">
              <strong> {{ profesor.nombre }} </strong>
            </div>
            <div class="col">
              <button type="button" class="btn btn-success btn-list" (click)="openSeeProfesors(profesor)">
                <i class="material-icons">&#xe417;</i>
              </button>
              <button type="button" class="btn btn-primary btn-list" (click)="openEditPage(profesor)">
                <i class="material-icons">&#xe254;</i>
              </button>
              <button type="button" class="btn btn-danger btn-list"
                (click)="selectTrainer(profesor.nombre); openDeleteTrainerModal(profesor)">
                <i class="material-icons">&#xe872;</i>
              </button>
            </div>
          </div>
          <hr />
        </li>
      </ul>
      <p *ngIf="profesors.length === 0">No hay profesores disponibles.</p>
    </div>
  </div>
</div>

<!-- MAS INFORMACIÓN -->
<div class="modal fade" id="more_info" tabindex="-1" aria-labelledby="more_infoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="more_infoLabel">Más información</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Recuerda:</p>
        <p>
          Si en algún momento no se actualizan correctamente los datos de la
          lista de entrenadores, puedes pulsar el botón
          <button type="button" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
              <path
                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
            </svg>
          </button>
          para actualizar la lista de los entrenadores.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>