<app-nav-bar-admin></app-nav-bar-admin>

<div class="container">
  <div class="container mt-3">
    <div>
      <button type="button" class="btn btn-success" routerLink="/admin">
        <i
          class="material-icons d-flex justify-content-center align-items-center"
          >&#xe5c4;</i
        >
      </button>
    </div>
    <div class="row">
      <div class="col main-box design-column">
        <div class="row">
          <div class="col"><h2>Lista de Grumpis</h2></div>
          <div class="col">
            <button
              type="submit"
              class="btn btn-success"
              (click)="loadImageUrls()"
            >
              Cargar Grumpis
            </button>
          </div>
        </div>

        <div class="container creatures-box">
          <div class="search-bar mb-3">
            <input
              type="text"
              [(ngModel)]="searchTerm"
              placeholder="Introduce el número de la carta"
              class="form-control"
            />
          </div>
          <div class="img-creature" *ngFor="let imageUrl of filteredCreaturesImages">
            <div class="row">
              <div class="col"><img [src]="imageUrl" alt="Imagen" /></div>
              <div class="col">
                <button type="button" class="btn btn-success">Asignar a</button>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col form-group main-box">
        <h2>Añadir un Grumpi nuevo</h2>
        <form
          [formGroup]="myForm"
          (ngSubmit)="onSubmit($event)"
          (change)="onFileSelected($event)"
        >
          <div class="row">
            <div class="col">
              <label for="imagen" class="form-label"
                ><strong>Carta Grumpi:</strong></label
              >
            </div>
            <div class="col">
              <input
                type="file"
                id="imagen"
                name="imagen"
                required
                formControlName="imagen"
              />
            </div>
          </div>
          <hr />

          <div class="container mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
