<div class="container-fluid bg-box justify-content-center align-items-center d-flex">
  <div class="row">
    <div class="col form-group mt-3 container mb-3">
      <button
        type="button"
        class="btn btn-success mt-3"
        data-bs-toggle="modal"
        data-bs-target="#newPost"
      >
        Nueva publicación
      </button>
    </div>

    <div class="col form-group mt-3 container mb-3">
      <button
        type="button"
        class="btn btn-success mt-3 align-content-center"
        data-bs-toggle="modal"
        data-bs-target="#post_list"
      >
        Ver publicaciones
      </button>
    </div>
  </div>
</div>

<!-- MODAL NUEVO POST -->
<div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="newPostLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newPostLabel">Nuevo post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="post-form-container">
          <form [formGroup]="postForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Título <strong>*</strong></label>
              <input
                type="text"
                id="title"
                formControlName="title"
                placeholder="Incluye un título"
                class="form-control"
                required
              />
              <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="error">
                El título es obligatorio.
              </div>
            </div>

            <div class="form-group">
              <label for="content">Contenido <strong>*</strong></label>
              <textarea
                id="content"
                formControlName="content"
                placeholder="Incluye el contenido del post"
                class="form-control"
                required
              ></textarea>
              <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched" class="error">
                El contenido es obligatorio.
              </div>
            </div>

            <div class="form-group">
              <label for="imageCount">¿Vas a subir una imagen o dos?</label>
              <select class="form-control" [(ngModel)]="imageCount" name="imageCount" (change)="onImageCountChange($event)">
                <option value="una">Una imagen</option>
                <option value="dos">Dos imágenes</option>
              </select>
            </div>

            <!-- Input para una imagen -->
            <div class="form-group" *ngIf="imageCount === 'una'">
              <label for="image">Imagen</label>
              <input
                type="file"
                id="image"
                class="form-control"
                accept="image/*"
                (change)="onFileSelected($event, 1)"
              />
            </div>

            <!-- Inputs para dos imágenes -->
            <div class="form-group" *ngIf="imageCount === 'dos'">
              <label for="image1">Imagen 1</label>
              <input
                type="file"
                id="image1"
                class="form-control"
                accept="image/*"
                (change)="onFileSelected($event, 1)"
              />
            </div>
            <div class="form-group" *ngIf="imageCount === 'dos'">
              <label for="image2">Imagen 2</label>
              <input
                type="file"
                id="image2"
                class="form-control"
                accept="image/*"
                (change)="onFileSelected($event, 2)"
              />
            </div>

            <button type="submit" class="btn btn-primary justify-content-center" [disabled]="postForm.invalid">
              Añadir post
            </button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
