html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.box {
  padding: 5%;
  height: 100%;
  overflow-y: auto;
}

.chibiBox {
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  .chibiBox {
    max-width: 150px;
  }
}

@media (max-width: 576px) {
  .chibiBox {
    max-width: 100px;
  }
}

.container-md.bg-box {
  max-height: 75vh;
  overflow-y: auto;
}





/* CONFIGURACIÓN PARA EL FORMULARIO DE ENTRADA DEL BLOG */
.post-form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 0.9em;
}

strong {
  color: red;
}