<app-nav-bar-admin></app-nav-bar-admin>
<div class="container mt-5">
  <div>
    <button type="button" class="btn btn-success" routerLink="/admin">
      <i class="material-icons d-flex justify-content-center align-items-center"
        >&#xe5c4;</i
      >
    </button>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="row">
        <div class="col"><h2>Listado de medallas</h2></div>
        <div class="col">
          <button
            type="button"
            class="btn btn-success"
            (click)="loadmedalsImages()"
          >
            Cargar medallas
          </button>
        </div>
      </div>

      <div class="container creatures-box">
        <div class="search-bar mb-3">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Buscar medalla"
            class="form-control"
          />
        </div>
        <div class="img-creature" *ngFor="let imageUrl of filteredMedalsImages">
          <div class="row">
            <div class="col"><img [src]="imageUrl" alt="Imagen" /></div>
            <div class="col">
              <button type="button" class="btn btn-success">Asignar a</button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
    </div>
    <div class="col">
      <h2>Añadir nueva medalla</h2>
      <br />
      <hr />

      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit($event)"
        (change)="onFileSelected($event)"
      >
        <div class="row">
          <div class="col">
            <label for="imagen" class="form-label"
              ><strong>Carta medalla Grumpi:</strong></label
            >
          </div>
          <div class="col">
            <input
              type="file"
              id="imagen"
              name="imagen"
              required
              formControlName="imagen"
            />
          </div>
        </div>
        <hr />

        <div class="container mt-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
