<div class="container bg-box">
  <div class="row mt-3">
    <div class="col">
      <div class="row">
        <div class="col mt-3"><h2>Listado de medallas</h2></div>
        <div class="col mt-3" *ngIf="seeAllMedals">
          <button type="button" class="btn btn-success" (click)="verMedallas()">
            Ocultar Medallas
          </button>
        </div>
        <div class="col mt-3" *ngIf="!seeAllMedals">
          <button type="button" class="btn btn-success" (click)="verMedallas()">
            Cargar Medallas
          </button>
        </div>
      </div>

      <div
        class="container creatures-box m-3 d-flex justify-content-center align-items-center"
        *ngIf="!seeAllMedals"
      >
        <div class="text-center">
          <p>
            Pulsa
            <button
              type="button"
              class="btn btn-success"
              (click)="verMedallas()"
            >
              Cargar Medallas
            </button>
            para ver el listado completo de todos los grumpis
          </p>
        </div>
      </div>

      <div class="container creatures-box" *ngIf="seeAllMedals">
        <div class="search-bar mb-3 sticky-top">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Buscar medalla"
            class="form-control"
          />
        </div>
        <div class="img-creature" *ngFor="let imageUrl of filteredMedalsImages">
          <div class="row">
            <div class="col"><img [src]="imageUrl" alt="Imagen" /></div>
            <div class="col">
              <button
                type="button"
                class="btn btn-success"
                (click)="selectedMedalName = imageUrl; openTrainers()"
              >
                Asignar a
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col m-3" *ngIf="isAdminUser">
      <h2>Añadir nueva medalla</h2>
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit($event)"
        (change)="onFileSelected($event)"
      >
        <div class="row">
          <div class="col">
            <label for="imagen" class="form-label"
              ><strong>Carta medalla Grumpi:</strong></label
            >
          </div>
          <div class="col">
            <input
              type="file"
              id="imagen"
              name="imagen"
              required
              formControlName="imagen"
            />
          </div>
        </div>
        <hr />
        <div class="container mt-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
