<div class="container mt-5 bg-box">

  <div class="row mt-3">
    <div class="col">
      <div class="row">
        <div class="col mt-3"><h2>Listado de medallas</h2></div>
        <div class="col mt-3">
          <button
            type="button"
            class="btn btn-success"
            (click)="loadmedalsImages()"
          >
            Cargar medallas
          </button>
        </div>
      </div>

      <div class="container creatures-box">
        <div class="search-bar mb-3 sticky-top">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Buscar medalla"
            class="form-control"
          />
        </div>
        <div class="img-creature" *ngFor="let imageUrl of filteredMedalsImages">
          <div class="row">
            <div class="col"><img [src]="imageUrl" alt="Imagen" /></div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="selectedMedalName = imageUrl;"
                  data-bs-toggle="modal"
                  data-bs-target="#eraseModal"
                >
                  Asignar a
                </button>
              </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col m-3">
      <h2>Añadir nueva medalla</h2>
      <br />
      <hr />

      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit($event)"
        (change)="onFileSelected($event)"
      >
        <div class="row">
          <div class="col">
            <label for="imagen" class="form-label"
              ><strong>Carta medalla Grumpi:</strong></label
            >
          </div>
          <div class="col">
            <input
              type="file"
              id="imagen"
              name="imagen"
              required
              formControlName="imagen"
            />
          </div>
        </div>
        <hr />

        <div class="container mt-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="eraseModal"
  tabindex="-1"
  aria-labelledby="erase"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="erase">Selecciona un entrenador:</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <select
          [(ngModel)]="selectedTrainerName"
          class="form-control"
        >
          <option *ngFor="let trainer of trainerList" [value]="trainer.name">
            {{ trainer.name }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="assignMedal()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
