<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/rules">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>
<div class="container">
  <h1 class="d-flex justify-content-center" id="titulo">
    <strong> ENCARGADOS GRUMPI </strong>
  </h1>
  <hr />
</div>
<div class="container-md scrollable-div mb-6 bg-box">
  <div class="capital">
    <p class="mt-3">
      En clase encontramos dos tipos de encargados. Por un lado, los encargados
      del orden de la clase, los cuales vigilan y cuidan por ciertos aspectos
      generales de la clase. Por otro lado, los encargados de grupo, que tienen
      diversas funciones dentro de cada equipo. Ambos roles van cambiando
      semanalmente.
    </p>
  </div>

  <div class="container">
    <h2 class="box-text"><strong>Encargados del orden de la clase:</strong></h2>
    <hr />
    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Responsable Grumpi</strong></h3>
        <p>
          que se suba y baje correctamente. Cierra la puerta al salir y apaga la
          luz. Controla la decoración.
        </p>
      </div>
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/_Encargado1_ResponsableGrumpi._1.jpg"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Erudito/a Grumpi</strong></h3>
        <img
          class="boxSizing"
          src="../../../../assets/encargados/_Encargado2_EruditoGrumpi._1.jpg"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
      <div class="col text-center">
        <p>
          Vigila que la biblioteca de aula esté ordenada, limpia y cuidada.
          Además, serán los responsables del mueble de material de clase.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Jugadores Grumpi</strong></h3>
        <p>
          Son los responsables del rincón de juegos. Vigilan que esté ordenado y
          que se cuide el material que hay.
        </p>
      </div>
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/_Encargado3_JugadorGrumpi._1.jpg"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Científico/a Grumpi</strong></h3>
        <img
          class="boxSizing"
          src="../../../../assets/encargados/_Encargado4_CientíficoGrumpi._1.jpg"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
      <div class="col text-center">
        <p>
          Vigilan que el rincón TIC esté correcto, con los recursos apagados y
          bien cuidados. Revisan que la pizarra digital esté apagada.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Limpiadores Grumpi</strong></h3>
        <p>
          Vigilan que la clase esté limpia, ordenada y recogida. Se encargan,
          también, de que el rincón del a calma esté en orden.
        </p>
      </div>
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/_Encargado5_LimpiadorGrumpi._1.jpg"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="box-text"><strong>Encargados del orden de la clase:</strong></h2>
    <hr />

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Policía Grumpi</strong></h3>
        <img
          class="boxSizing"
          src="../../../../assets/encargados/Encargado2_policíaGrumpiCooperativo.1.png"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
      <div class="col text-center">
        <p>
          Vigila que haya silencio en su grupo y avisa de los conflictos que
          puedan darse en este.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Enfermero/a Grumpi</strong></h3>
        <p>
          Se encarga de repartir, recoger y vigilar el material de clase, así
          como de que sus compañeros cuiden su material.
        </p>
      </div>
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/Encargado3_enfermeroGrumpiCooperativo.1.png"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/Encargado4_profesorGrumpiCooperativo.1.png"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
      <div class="col text-center">
        <h3 class="box-text"><strong>Profesor/a Grumpi</strong></h3>
        <p>
          Se encarga de mediar entre los compañeros y comunica los datos
          obtenidos por los encargados al profesor/a.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <h3 class="box-text"><strong>Team Star</strong></h3>
        <p>
          Revisa durante los últimos 5 minutos de cada sesión, que sus
          compañeros hayan apuntado la tarea en la agenda (incluso si la
          hicieron en clase).
        </p>
      </div>
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/Encargado5_TeamStarCooperativo.1.png"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col text-center">
        <img
          class="boxSizing"
          src="../../../../assets/encargados/Encargado1_entrenadorGrumpiCooperativo.1.png"
          (contextmenu)="disableRightClick($event)"
        />
      </div>
      <div class="col text-center">
        <h3 class="box-text"><strong>Entrenador Grumpi</strong></h3>
        <p>
          Revisan al inicio de cada clase, que los compañeros hayan realizado
          correctamente la tarea.
        </p>
      </div>
    </div>
  </div>
</div>
