/* Ajuste para que solo la lista tenga scroll */
.scrollable-div {
  overflow-y: auto;
  max-height: 320px;
  overflow-x: hidden;
}

.list {
  width: 600px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Resto del CSS permanece igual */
.btn-list {
  height: 45px;
  width: 45px;
  margin-right: 2%;
  margin-top: 2%;
}

.box-trainer {
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  margin-bottom: 5%;
}

.bgBox {
  height: auto;
  padding-bottom: 5%;
}

h1,
h2,
h3,
p,
label,
input,
li {
  color: #000000;
}
