.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.config-spaces {
  margin: 2%;
}

.img-fluid {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.changeAvatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.changeAvatar:hover {
  background-color: #3e8e41
}

.changeAvatar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.scrollable-div {
  max-height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

// Configuración boton para salir de la sesión
.btn-out {
  border-radius: 40em;
  appearance: none;
  background-color: #fa4747;
  box-shadow: #743838 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-out:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn-out:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn-out {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


.button-avatar {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 15px !important;
  font-weight: 600;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-avatar:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-avatar:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-avatar {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.row-avatar{
  margin-right: 0% !important;
}

.avatar-box {
  height: 120px;
  width: 100px;
}

.dolar {
  height: 35px;
  width: 35px;
}

.grumpivice {
  height: 40px;
  width: 25px;
}
