<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/profile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<h1 class="justify-content-center d-flex mb-3">Mochila entrenador</h1>

<div class="container d-flex justify-content-end mb-6">
  <h3>Marcas de combate conseguidas: {{ marcasCombate }}</h3>
</div>

<div class="container text-center">
  <ul
    class="nav nav-pills mb-3 justify-content-center"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="active button-73"
        id="pills-objects-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-objects"
        type="button"
        role="tab"
        aria-controls="pills-objects"
        aria-selected="true"
      >
        Grumpis
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-rewards-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-rewards"
        type="button"
        role="tab"
        aria-controls="pills-rewards"
        aria-selected="false"
      >
        Recompensas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-evolution-objects-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-evolution-objects"
        type="button"
        role="tab"
        aria-controls="pills-evolution-objects"
        aria-selected="false"
      >
        Objetos de combate
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-medals-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-medals"
        type="button"
        role="tab"
        aria-controls="pills-medals"
        aria-selected="false"
      >
        Medallas
      </button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-objects"
      role="tabpanel"
      aria-labelledby="pills-objects-tab"
      tabindex="0"
    >
      <h2>Grumpis</h2>
      <hr />
      <div class="container creatures-box scrollable-div">
        <ul>
          <li *ngFor="let creature of grumpis">
            <div class="row">
              <div class="col-6 box-info">
                <label
                  ><strong>Nº: </strong> {{ creature.number_grumpidex }} </label
                ><br />
                <label><strong>Nombre: </strong> {{ creature.name }}</label
                ><br />
                <label
                  ><strong>Descripción: </strong>
                  {{ creature.description }} </label
                ><br />
                <label
                  ><strong>Ataques: </strong>
                  <ul>
                    <li *ngFor="let a of creature.attacks">
                      <label
                        >{{ a.name }}
                        <button class="see-btn" type="button">
                          <i class="material-icons">&#xe417;</i>
                        </button>
                      </label>
                    </li>
                  </ul> </label
                ><br />
              </div>
              <div class="col-5">
                <div class="img-creature">
                  <img srcset="{{ creature.image }}" />
                </div>
              </div>
              <div class="col-3">
                <div class="btn-asign">
                  <button type="button" class="btn btn-success">
                    ¡Lo quiero!
                  </button>
                </div>
              </div>
            </div>
            <hr />
          </li>
        </ul>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-rewards"
      role="tabpanel"
      aria-labelledby="pills-rewards-tab"
      tabindex="0"
    >
      <h2>Recompensas</h2>
    </div>
    <div
      class="tab-pane fade"
      id="pills-evolution-objects"
      role="tabpanel"
      aria-labelledby="pills-evolution-objects-tab"
      tabindex="0"
    >
      <h2>Objetos de combate</h2>
    </div>
    <div
      class="tab-pane fade"
      id="pills-medals"
      role="tabpanel"
      aria-labelledby="pills-medals-tab"
      tabindex="0"
    >
      <h2>Medallas</h2>
    </div>
  </div>
</div>
