ul {
  list-style-type: none;
}

.img-creature {
  width: 400px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2%;
}

.img-creature img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.scrollable-div {
  height: 500px;
  overflow-y: auto;
}

.box-info {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.evolutionBox-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 2%;
}

.evolutionBox-img img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Ejemplo de personalización */
.nav-link {
  cursor: pointer;
}
.tab-pane {
  display: none; /* Ocultar todos los paneles por defecto */
}
.tab-pane.active {
  display: block; /* Mostrar el panel activo */
}
