<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/profile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<h1 class="justify-content-center d-flex mb-3 box-text box-text">
  <strong> MI MOCHILA </strong>
</h1>
<div class="container text-center">
  <ul
    class="nav nav-pills mb-3 justify-content-center"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="active button-73"
        id="pills-objects-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-objects"
        type="button"
        role="tab"
        aria-controls="pills-objects"
        aria-selected="true"
      >
        Grumpis
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-rewards-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-rewards"
        type="button"
        role="tab"
        aria-controls="pills-rewards"
        aria-selected="false"
      >
        Recompensas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-evolution-objects-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-evolution-objects"
        type="button"
        role="tab"
        aria-controls="pills-evolution-objects"
        aria-selected="false"
      >
        Objetos de combate
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-medals-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-medals"
        type="button"
        role="tab"
        aria-controls="pills-medals"
        aria-selected="false"
      >
        Medallas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="button-73"
        id="pills-energy-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-energy"
        type="button"
        role="tab"
        aria-controls="pills-energy"
        aria-selected="false"
      >
        Energías
      </button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-objects"
      role="tabpanel"
      aria-labelledby="pills-objects-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong>MIS GRUMPIS</strong></h2>
      <hr />
      <div class="container scrollable-div">
        <div class="row">
          <div class="col-md-6">
            <div
              class="img-creature mg-5"
              *ngFor="
                let creature of this.trainer?.data?.grumpis?.slice(
                  0,
                  this.trainer?.data?.grumpis?.length / 2
                )
              "
            >
              <img srcset="{{ creature }}" />
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-creature mg-5"
              *ngFor="
                let creature of this.trainer?.data?.grumpis?.slice(
                  this.trainer?.data?.grumpis?.length / 2
                )
              "
            >
              <img srcset="{{ creature }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-rewards"
      role="tabpanel"
      aria-labelledby="pills-rewards-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong>MIS RECOMPENSAS</strong></h2>
      <hr />
      <div class="container scrollable-div">
        <div class="row">
          <div class="col-md-6">
            <h2 class="box-text">OBJETOS EVOLUTIVOS:</h2>
            <div
              class="evolutionBox-img mg-5"
              *ngFor="let combatObjet of this.trainer?.data?.objetos_evolutivos"
            >
              <h3>{{ combatObjet.nombre }}</h3>
              <img srcset="{{ combatObjet?.imagen }}" class="img-fluid" />
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="box-text">RECOMPENSAS:</h2>
            <div
              class="evolutionBox-img mg-5"
              *ngFor="let combatObjet of rewards_list"
            >
              <h3>{{ combatObjet.nombre }}</h3>
              <img srcset="{{ combatObjet?.img }}" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-evolution-objects"
      role="tabpanel"
      aria-labelledby="pills-evolution-objects-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong>MIS OBJETOS DE COMBATE</strong></h2>
      <hr />
      <div class="container scrollable-div">
        <div class="row">
          <div class="col-md-6">
            <div
              class="img-creature mg-5"
              *ngFor="let combatObjet of this.trainer?.data?.objetos_combate"
            >
              <img srcset="{{ combatObjet.imagen }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-medals"
      role="tabpanel"
      aria-labelledby="pills-medals-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong>MIS MEDALLAS</strong></h2>
      <hr />
      <div class="container scrollable-div">
        <div class="row">
          <div class="col-md-6">
            <div
              class="img-creature mg-5"
              *ngFor="let medalImage of this.trainer?.data?.medallas"
            >
              <img srcset="{{ medalImage }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-energy"
      role="tabpanel"
      aria-labelledby="pills-energy-tab"
      tabindex="0"
    >
      <h2 class="box-text"><strong>MIS ENERGÍAS</strong></h2>
      <hr />
      <div class="container scrollable-div">
        <div class="row">
          <div class="col-md-6">
            <div
              class="img-creature mg-5"
              *ngFor="let energyImage of this.energies"
            >
              <div class="row">
                <div class="col-md-6"><img srcset="{{ energyImage }}" /></div>
                <div class="col-md-6" *ngIf="energyImage.includes('Agua2')">
                  <strong>Cantidad:</strong> {{ this.energiaAgua }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Fuego2')">
                  <strong>Cantidad:</strong> {{ this.energiaFuego }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Aire2')">
                  <strong>Cantidad:</strong> {{ this.energiaAire }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Luz2')">
                  <strong>Cantidad:</strong> {{ this.energiaLuz }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Normal2')">
                  <strong>Cantidad:</strong> {{ this.energiaNormal }}
                </div>
                <div
                  class="col-md-6"
                  *ngIf="energyImage.includes('Oscuridad2')"
                >
                  <strong>Cantidad:</strong> {{ this.energiaOscuridad }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Rayo2')">
                  <strong>Cantidad:</strong> {{ this.energiaRayo }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Tierra2')">
                  <strong>Cantidad:</strong> {{ this.energiaTierra }}
                </div>
                <div class="col-md-6" *ngIf="energyImage.includes('Vida2')">
                  <strong>Cantidad:</strong> {{ this.energiaVida }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
