.typeBox {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.typeBox2 {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.imgGrumpi {
  width: 200px;
  height: 300px;
}

.scrollable-div {
  overflow-y: auto;
  max-height: calc(100vh - 215px);
}

.btnReport{
  bottom: 0;
}
