<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/home">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<div class="container scrollable-div">
  <h1 id="titulo" class="d-flex justify-content-center mt-3">
    CENTRO DE AYUDA GRUMPI
  </h1>
  <hr />
  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <img
          class="typeBox"
          src="../../../assets/carteleria/tiposEnergia.png"
        />
      </div>
      <div class="col">
        <img
          class="typeBox"
          src="../../../assets/carteleria/comoConseguirEnergia.png"
        />
      </div>
      <div class="col">
        <img
          class="typeBox2"
          src="../../../assets/carteleria/recompensa.png"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <img class="typeBox2" src="../../../assets/carteleria/grumpimonedasMusica.png">
      </div>
      <div class="col mb-3">
        <img class="typeBox2" src="../../../assets/carteleria/grumpimonedasEF.png">
      </div>
      <div class="col">
        <img class="typeBox2" src="../../../assets/carteleria/Instrucciones de carta Grumpi.1.png.png">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <img class="typeBox2" src="../../../assets/carteleria/estados_alterados.jpg">
      </div>
      <div class="col">
        <img class="typeBox2" src="../../../assets/carteleria/objCombate.png">
      </div>
      <div class="col">
        <img class="typeBox2" src="../../../assets/carteleria/TIENDA_GRUMPI.png.png">
      </div>
    </div>
        <div class="row mb-3">
      <div class="col">
        <img class="typeBox2" src="../../../assets/carteleria/TIENDA_OBJETOSCOMBATE.png.png">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-1">
        <img class="imgGrumpi" src="../../../assets/grumpis/Nifa.png" />
      </div>
      <div class="col">
        <div class="container-fluid d-flex justify-content-center mt-3">
          <a
            href="mailto:gamificacionpanda@gmail.com?subject=Reporte de Error&body=Por favor, describa el error aquí."
            class="button-73 btnReport"
          >
            Reportar un error
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
