<div class="container-fluid mainBoxAdmin">
  <div class="btn-config mt-3 mainBoxAdminContent">
    <button type="button" class="btn" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
      Atrás
    </button>
  </div>

  <h2 class="justify-content-center d-flex mt-2 mainBoxAdminContent">
    Añadir nuevo usuario
  </h2>
  <hr />
  <div class="container-fluid mainBoxAdminContent">
    <form [formGroup]="myForm">
      <div class="form-group mt-3">
        <label for="trainer_rol" class="form-label">Rol del usuario</label>
        <select formControlName="trainer_rol" class="form-control" (change)="selectedTrainerOrProfesor()">
          <option value="">Selecciona un rol de usuario</option>
          <option value="entrenador">Entrenador</option>
          <option value="profesor">Profesor</option>
        </select>
        <div
          *ngIf="myForm.get('trainer_rol')?.touched && myForm.get('trainer_rol')?.invalid"
          class="text-danger"
        >
          Selecciona un rol de usuario.
        </div>
      </div>

      <!-- FORMULARIO PARA EL ENTRENADOR -->
      <div *ngIf="isTrainer">
        <div class="form-group">
          <label for="trainer_name" class="form-label">Nombre de entrenador</label>
          <input type="text" class="form-control" formControlName="trainer_name" />
          <div
            *ngIf="myForm.get('trainer_name')?.touched && myForm.get('trainer_name')?.invalid"
            class="text-danger"
          >
            Nombre de entrenador es obligatorio.
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="trainer_pass" class="form-label">Contraseña entrenador</label>
          <input type="text" class="form-control" formControlName="trainer_pass" />
          <div
            *ngIf="myForm.get('trainer_pass')?.touched && myForm.get('trainer_pass')?.invalid"
            class="text-danger"
          >
            Contraseña es obligatoria.
          </div>
        </div>
      </div>

      <!-- FORMULARIO PARA EL PROFESOR -->
      <div *ngIf="!isTrainer">
        <div class="form-group mt-3">
          <label for="usuario" class="form-label">Usuario del profesor</label>
          <input type="text" class="form-control" formControlName="usuario" />
          <div
            *ngIf="myForm.get('usuario')?.touched && myForm.get('usuario')?.invalid"
            class="text-danger"
          >
            Es necesario añdir un usuario para el profesor.
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="trainer_name" class="form-label">Nombre del profesor</label>
          <input type="text" class="form-control" formControlName="trainer_name" />
          <div
            *ngIf="myForm.get('trainer_name')?.touched && myForm.get('trainer_name')?.invalid"
            class="text-danger"
          >
            El nombre del profesor es obligatorio.
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="trainer_lastName" class="form-label">Apellidos del profesor</label>
          <input type="text" class="form-control" formControlName="trainer_lastName" />
          <div
            *ngIf="myForm.get('trainer_lastName')?.touched && myForm.get('trainer_lastName')?.invalid"
            class="text-danger"
          >
            Los apellidos del profesor son obligatorios.
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="trainer_pass" class="form-label">Contraseña profesor</label>
          <input type="text" class="form-control" formControlName="trainer_pass" />
          <div
            *ngIf="myForm.get('trainer_pass')?.touched && myForm.get('trainer_pass')?.invalid"
            class="text-danger"
          >
            Contraseña es obligatoria.
          </div>
        </div>
      </div>

      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary me-3" (click)="close()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="guardarEntrenador()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
