<div class="container-fluid mainBoxAdmin">
  <div class="btn-config mt-3 mainBoxAdminContent">
    <button type="button" class="btn" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
        />
      </svg>
      Atrás
    </button>
  </div>

  <h2 class="justify-content-center d-flex mt-2 mainBoxAdminContent">
    Añadir nuevo usuario
  </h2>
  <hr />
  <div class="container-fluid mainBoxAdminContent">
    <form [formGroup]="myForm">
      <div class="form-group mb-3">
        <label for="trainer_rol" class="form-label">Rol del usuario</label>
        <select formControlName="trainer_rol" [(ngModel)]="selectedRol" class="form-control">
          <option selected>Selecciona un rol de usuario</option>
          <option value="entrenador">Entrenador</option>
          <option value="profesor">Profesor</option>
        </select>
      </div>
      <div class="form-group">
        <label for="trainer_name mt-3" class="form-label"
          >Nombre de entrenador</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="trainer_name"
        />
      </div>
      <div class="form-group mt-3">
        <label for="trainer_pass" class="form-label"
          >Contraseña entrenador</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="trainer_pass"
        />
      </div>

      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary me-3" (click)="close()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="guardarEntrenador()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
