<app-nav-bar></app-nav-bar>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/home">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<div class="container-md space-container">
  <p>
    Los Grumpis consisten en una gamificación, en la cual se pretenden llevar
    los aspectos de los videojuegos al aula.
  </p>
  <p>
    Es una metodología innovadora, que favorece a la motivación, atención,
    desarrollo académico y personal de nuestro alumnado, en definitiva, un
    desarrollo integral de este; pues a través de los diversos retos se
    trabajarán, tanto aspectos curriculares de refuerzo, ampliación y
    consolidación, así como aspectos personales, conductuales y otros que
    permitan el desarrollo de diversas habilidades vinculadas a la lógica, el
    compañerismo, la estrategia....
  </p>
  <p>
    Este tipo de metodología, nos permite además, atender a la diversidad
    presente en nuestro aula, pudiendo adaptar los retos y los tiempo, para
    aquellos alumnos y alumnas que lo requieran.
  </p>
</div>
<app-footer></app-footer>
