<app-nav-bar-admin></app-nav-bar-admin>
<div class="btn-config">
  <button type="button" class="button-73" routerLink="/admin">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
      />
    </svg>
    Atrás
  </button>
</div>

<div class="container-md scrollable-div mb-6 bg-box">
  <div class="text-center">
    <div class="container">
      <ul class="text-center">
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/intro_admin">
            Nuestra gamificación
          </button>
        </li>
        <li>
          <button
            type="button"
            class="btn mb-3"
            routerLink="/rules_admin/obtain-energies_admin"
          >
            Obtención de energías
          </button>
        </li>
        <li>
          <button
            type="button"
            class="btn mb-3"
            routerLink="/rules_admin/grumpidolares_admin"
          >
            Grumpidólares
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/grumpis_admin">
            Obtención de criaturas
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/medals_admin">
            Obtención de medallas
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/league_admin">
            Liga Grumpi
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/combats">
            Combates Grumpi
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/legend_admin">
            Leyenda Grumpi
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/rests_admin">
            Descansos activos
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/career">
            Carrera lectora
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/inCharge_admin">
            Encargados Grumpi
          </button>
        </li>
        <li>
          <button type="button" class="btn mb-3" routerLink="/rules_admin/maps_admin">
            Mapas Grumpi
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
