@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
.btn-config {
  margin: 1%;
}
ul {
  list-style-type: none;
}
/**
*
*   CONFIGURACIÓN DE LOS BOTONES
*
*/
.button-73 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

body {
  background-image: url("./assets/backgrounds/kids.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.spacesBetween {
  margin: 5%;
}

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.box-text {
  color: #197228;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

.main-container {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  overflow-x: hidden; /* Evita el desplazamiento horizontal no deseado */
  padding: 20px; /* Ajusta el padding según sea necesario */
}

@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  .row {
    margin-bottom: 20px;
  }
}

.bg-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2em;
  box-shadow: #adcfff 0 -12px 6px inset;
}

html,
body {
  height: 100%;
}
footer {
  margin-top: auto;
}

.trainerName {
  color: #197228;
}

.mainBoxAdmin {
  background-color: aliceblue;
  background-image: url(./assets/geometric.jpeg);
  width: 100%;
  height: 100vh; /* Hace que la altura sea igual a la altura de la ventana */
  background-repeat: no-repeat;
  background-size: cover; /* Hace que la imagen de fondo cubra toda la ventana */
  background-position: center; /* Centra la imagen de fondo */
  position: relative;
  overflow: hidden;
}

.mainBoxAdmin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-repeat: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: blur(1px); /* Ajusta el valor para más o menos desenfoque */
  z-index: 0;
}

.mainBoxAdminContent {
  position: relative;
  z-index: 1;
}

#titulo {
  font-family: "Bangers";
  font-size: 3rem;
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.scrollable-div::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}
.scrollable-div::-webkit-scrollbar-track {
  background: #ffffff; /* Color de fondo de la pista */
  border-radius: 10px; /* Radio de borde de la pista */
}
.scrollable-div::-webkit-scrollbar-thumb {
  background: #197228; /* Color de la thumb */
  border-radius: 10px; /* Radio de borde de la thumb */
}
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la thumb al pasar el ratón */
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
}

/**
* ANIMACIÓN DE ENTRADA
*/
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
*
*   ANIMACIÓN PARA MOSTRAR LAS IMÁGENES
*
*/
.tilt-in-fwd-tr {
  -webkit-animation: tilt-in-fwd-tr 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-tr 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

/**
*  PRIMERA LETRA CAPITAL DEL TEXTO
*/
.capital > p::first-letter {
  font-size: 4em; /* Tamaño de la primera letra */
  font-weight: bold; /* Negrita (opcional) */
  color: rgb(0, 143, 7); /* Color de la primera letra */
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre las imágenes */
}
.image-container div {
  box-sizing: border-box;
}
.image-container img {
  height: 600px;
  display: block;
}

.sizeIMG {
  height: 450px;
  width: 350px;
}

.animacionPalpito {
  -webkit-animation: animacionPalpito 2.1s ease-in-out 1s infinite both;
  animation: animacionPalpito 2.1s ease-in-out 1s infinite both;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes animacionPalpito {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes animacionPalpito {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-modal .mat-dialog-container {
  transform: translate(
    -50%,
    -50%
  ) !important; // asegura que el diálogo esté centrado
  max-width: 80vw; // ajusta según sea necesario
  max-height: 80vh;
  overflow: auto; // permite scroll si el contenido es grande
  position: absolute !important; // fuerza el contenedor a ser absoluto
}

/* Estilo por defecto */
#splash-screen {
  background-image: url("./assets/logos/Splash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 24px;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

/* Para dispositivos móviles */
@media only screen and (max-width: 600px) {
  #splash-screen {
    background-image: url("./assets/logos/Splash.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #splash-screen {
    background-image: url("./assets/logos/Splash.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Para pantallas de escritorio */
@media only screen and (min-width: 1025px) {
  #splash-screen {
    background-image: url("./assets/logos/Splash_pc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    font-size: 24px;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/** CONFIGURACIÓN PARA ANIMACIONES DE MENÚ PRINCIPAL */
.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
