  .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .modal-body {
    flex-grow: 1;
    overflow-y: auto;
  }

  .modal-footer {
    justify-content: center;
    display: flex;
  }
