<div class="container-fluid mainBoxAdmin">
  <div class="modal-dialog modal-dialog-centered mainBoxAdminContent">
    <div class="modal-content d-flex flex-column h-100">
      <div class="modal-header d-flex justify-content-center mt-3">
        <h1 class="modal-title fs-5">
          Selecciona un entrenador:
        </h1>
      </div>
      <div class="modal-body flex-grow-1 bg-box">
        <div class="scrollable-div">
          <ul>
            <li class="list-group-item mt-2" *ngFor="let trainer of trainerList">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="trainer.selected"
                  id="{{'trainer' + trainer.id}}"
                />
                <label class="form-check-label" for="{{'trainer' + trainer.id}}">
                  {{trainer.name}}
                </label>
              </div>
              <hr>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary me-3" (click)="close()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="selectTrainer()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
