html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.log {
  background-image: url(../../../assets/backgrounds/bg_gato.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Añade espacio en la parte superior */
}

@media (min-width: 768px) {
  .scrollable-container {
    max-height: calc(80vh - -71px);
    overflow-y: auto;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacio entre el logo y el formulario */
}

.logo img {
  max-width: 60%;
  height: auto;
}

.logo-img:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container.config-size {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: #ffffff66;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}
