<div class="log">
  <div class="logo">
    <img src="../../../assets/Logo_v0.1_sinFondo.png" class="logo-img" (contextmenu)="disableRightClick($event)"/>
  </div>
  <div class="container config-size">
    <form [formGroup]="myForm" class="form-wrapper" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="trainer_name"><strong>Nombre de entrenador/a</strong></label>
        <input
          type="email"
          class="form-control"
          id="trainer_name"
          aria-describedby="emailHelp"
          placeholder="Introduce tu nombre de entrenador/a"
          formControlName="trainer_name"
        />
      </div>
      <div class="form-group">
        <label for="password"><strong>Contraseña</strong></label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Contraseña"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <input type="checkbox" formControlName="check" class="form-check-input me-2" id="check">
        <label class="form-check-label" for="check">Recuérdame</label>
      </div> 
      <div class="container">
        <button type="submit" class="button-73">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
